[2017-10-05 22:16] Oyveloper opened #2 "Feature Request: Swipe down to dismiss when card is dismissable"
### New Issue Checklist
- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

When the

[2017-10-06 07:12] alexaubry opened #3 "Swift 3.2 Support"
- Should support both Swift 3.2 and Swift 4.0
- Use Swift 3.2 to build the Carthage archive

[2017-10-06 07:52] alexaubry commented on #2
Thanks for the suggestion, I'll be working on it 👍

[2017-10-06 10:19] alexaubry commented on #2
This feature was implemented in cff1d2dfbbc6605d9af76a7ca7cb5adf8b77e26f and will be available in the next release.

[2017-10-06 12:09] #2 closed

[2017-10-06 12:09] #3 closed

[2017-10-06 12:44] hassanmah commented on #3
@alexaubry still having the same problem, is 3.2 on a different branch?

[2017-10-06 12:51] hassanmah opened #5 "Swift 3.2 Support not working"
@alexaubry BulletinBoard is still not working on 3.2, I still get the same errors as I described on Twitter.

Furthermore, see the screenshot of Issue Navigator.

Thanks

<img width="379" alt="screen shot 2017-10-06 at 13 48 05" src="https://user-images.githubusercontent.com/3025707/31278578-60fe252c-aa9d-11e7-9f26-f3ef4aa523e4.png">

[2017-10-06 13:49] alexaubry commented on #5
My bad, I had some trouble pushing the updated Podspec to CocoaPods. Make sure to call `pod update` again to update to 1.2.0.

[2017-10-06 20:04] hassanmah commented on #5
@alexaubry `pod update` solves this

[2017-10-06 20:04] #5 closed

[2017-10-10 14:42] gregoireLem opened #7 "Adjust the blurring of the covered view"
Hey guys, thanks for this beautiful lib,

Is there a way to easely manage the blurring of the covered view ?

thanks

[2017-10-13 09:15] alexaubry commented on #7
This was implemented in #8 and will be included in the next release. Thank you for this suggestion 👍

[2017-10-13 10:04] gregoireLem commented on #7
It would be great to have an option for no effect applied on the covered view too, in my case, I really need to display what is happening on the covered view

[2017-10-17 21:23] Danny-SS opened #9 "Pod File not inline with Example"
### New Issue Checklist

- [x ] I updated BulletinBoard to the latest version.
- [ x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [ x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [ x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

I w

[2017-10-18 10:50] #7 closed

[2017-10-18 11:10] alexaubry commented on #7
This feature shipped in v1.3.0.

[2017-10-18 11:13] alexaubry commented on #9
A new version of the Podspec (1.3.0) was released to support the `backgroundViewStyle` property and the latest changes from the demo project. 🚀

You can run `pod update` to get the latest version of the library.

[2017-10-18 11:13] #9 closed

[2017-10-18 13:37] Danny-SS commented on #9
Thanks.  Updated and all looks good so far.

[2017-10-20 15:33] turgutoztunc opened #11 "TextField ?"
Is it possible to put textfield instead of button ?

[2017-10-22 09:34] alexaubry commented on #11
You technically can add a text field to the bulletin by creating a custom class that implements the `BulletinItem` protocol and return a text field in the `makeArrangedSubviews` method. See the implementation of [`PetSelectorBulletinPage`](https://github.com/alexaubry/BulletinBoard/blob/master/Example/Sources/PetSelectorBulletinPage.swift) for more guidance in creating a custom bulletin item.

How

[2017-11-01 13:16] phchosis opened #14 "Swipe to dimiss not triggering dismissalHandler"
When swiping to dismiss a PageBulletinItem, it dismisses correctly but does not trigger the dismissalHandler. The dismissalHandler works fine with tap to dismiss.

### New Issue Checklist
- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://al

[2017-11-01 14:54] phchosis commented on #14
Adding the following highlighted line seems to have resolved it

<img width="494" alt="screen shot 2017-11-01 at 14 54 01" src="https://user-images.githubusercontent.com/3295039/32280686-9914fe64-bf14-11e7-837c-ad7a0502122e.png">

[2017-11-01 15:25] alexaubry commented on #14
Thank you for reporting, I'll be working on a fix.

[2017-11-03 18:42] yarodevuci opened #15 "Action Button is not working for me"
[code]
Action button is never triggered for me.. any advice ?

[2017-11-03 18:55] yarodevuci commented on #15
nvm, I did lazy var and the problem is gone...

[2017-11-03 18:55] #15 closed

[2017-11-03 20:27] pdamonkey opened #16 "Bug: Tapping the content view of a dismissible card dismisses it"
When setting isDismissable to true this should enable tapping the background to dismiss the bulletin item.  However, currently this also allows the content view to also be tapped which could be done accedentily by the user if trying to tap other content such as buttons.

### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https:/

[2017-11-07 07:24] CaliCastle opened #18 "Font customization"
For appearances, there is no option to change the font of the labels which lacks of the uniform of my currently developing app and I intend to use Avenir Next throughout. This would be a nice feature to add on.

### New Issue Checklist
- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.

[2017-11-07 16:34] alexaubry commented on #18
Nice idea, I'll be working on this.

[2017-11-07 16:57] jyounus commented on #18
How about making the BulletinInterfaceFactory class "open" instead of "public"? This way we could inherit and override it to customise the properties. You'd also have to make the functions (e.g. makeTitleLabel open instead of public) for this to work, as well as change the PageBulletinItem.interfaceFactory from a let to a var property, so it can be changed.

Even better would be if you could use P

[2017-11-07 19:13] CaliCastle commented on #18
@jyounus You're right, making the class open instead of "public" would a fantastic idea for better inheritance and override availability.

[2017-11-07 20:00] pdamonkey opened #19 "Width constraint issues on older iPads"
The width constraint is changing inbetween the card transitions on older iPads.

### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](ht

[2017-11-07 20:13] jyounus opened #21 "Expose BulletinManager.viewController.contentView"
It would be great if we could have the contentView exposed, something like this inside the BulletinManager class:

[code]

For my use case, this would be to add some UIMotionEffects to the contentView. Rather than making this part of the lib, it would be better to just simply expose the contentView so devs can handle such customisations themselves.

I can make a PR if you're happy with this change

[2017-11-08 08:25] alexaubry commented on #18
@jyounus Using protocols is an excellent idea. I'll work on a PR to implement this.

[2017-11-08 08:29] alexaubry commented on #14
I have tried to reproduce the issue, unsuccessfully. Could you please attach some sample code where the dismissalHandler is not called?

[2017-11-08 08:30] alexaubry commented on #14
Maybe your `caputureSession` is nil when you swipe down, for some reason. Do you get a crash if you force unwrap it?

[2017-11-08 08:31] alexaubry commented on #11
#12 implemented the keyboard frame update mechanism. You can now create a custom item with a text field, as mentioned in my previous comment.

[2017-11-08 08:31] #11 closed

[2017-11-08 08:35] #19 closed

[2017-11-08 15:09] phchosis commented on #14
@alexaubry Sure, Here is some code which is not triggering the dismissalHandler when swiped down.

    fileprivate func makeSharePage() -> PageBulletinItem {
        let page: PageBulletinItem = PageBulletinItem(title: "Share your Selfie")
        page.descriptionText = "Great Selfie, it's been saved to your photo library, why don't you share it online?"
        page.actionButtonTitle = "Share now

[2017-11-09 20:26] CocoaPriest opened #22 "Uncheck Gather Coverage Data"
When using Carthage [static frameworks], the linker fails. Simply unchecking `Gather Coverage Data` in BulletinBoard's test scheme fixes this issue.

[2017-11-16 16:14] rossrossp opened #23 "Carthage version"
Hello,

When using carthage update, we don't seem to receive the latest version, and the bulletins don't move with the keyboard.

Do you need to update something to make Carthage reference the latest version?

Thanks

[2017-11-16 16:47] rossrossp commented on #23
I've added "master" to the cartfile and we get the latest.
I think it just needs a new release in git.

[2017-11-17 12:21] rossrossp opened #24 "Alternate button squashed"
Alternate button is squashed upon first load when keyboard moves up Bulletin:
![screen shot 2017-11-17 at 10 31 35](https://user-images.githubusercontent.com/6325131/32946990-b4a71f16-cb91-11e7-8ec0-de367032c170.png)

This also makes the button un-tappable.

This only happens on small screen devices (iPhone 5S/SE) on first load. If you go to the next page and then come back again, they are spaced

[2017-11-17 16:23] alexaubry commented on #23
Hello, this feature will be included in the next release. Some features in the master branch are not fully tested / implemented yet, so I can't create a `git tag` now.

Using master in Cartfile is the best workaround yet 👍  I'll close this issue when the new release is available.

[2017-11-17 16:29] alexaubry commented on #24
Thank you for reporting 👍

The problem is the `topAnchor` of the card is constrained to the top layout guide, to prevent it to show behind the status bar.

If you are using a custom bulletin item to create this interface, I think you could try to reduce the spacing between the _"Sign Up"_ label and the text field, as an immediate workaround.

I'll be working on a way to improve the handling of thi

[2017-11-17 17:34] rossrossp commented on #23
Awesome, thanks!

[2017-11-18 10:18] alexaubry commented on #22
Could you please tell me if building from the master branch works now?

[2017-11-18 12:28] alexaubry commented on #14
There was a problem with the gesture recognizer: if the user scrolled too fast, the transition would not be marked as finished and the completion handler would not call `dismissalHandler`.

To fix this, the user now needs to lift their finger to dismiss the bulletin.

The fix is available on the `master` branch, would you mind trying it and tell me if your issue is solved?

[2017-11-18 15:30] alexaubry commented on #24
This should be fixed by 6df0ae9. Could you try to build the library from the master branch and tell me if your issue is fixed?

[2017-11-18 15:51] alexaubry commented on #18
I've made a PR (#26) that implements a better customization API. @CaliCastle @jyounus would you mind telling me if it suits your needs?

[2017-11-18 16:03] alexaubry commented on #21
I added a way to perform an operation with the content view:

[code]

This will be available in the next release. You can build from the master branch to try it now 😃

[2017-11-18 16:04] #21 closed

[2017-11-18 16:21] alexaubry commented on #18
Implemented by #26

[2017-11-18 16:21] #18 closed

[2017-11-20 13:39] Eliaschetouani opened #27 "Bulleting Appearance not available"
Hello !

Is not available in the master branch :/

Thank you

[2017-11-20 14:15] alexaubry commented on #27
### If you are using Carthage

Make sure to use this in your Cartfile:

[code]

And then run `carthage update` to build the latest version.

### If you are using CocoaPods

Make sure you are using this in your Podfile:

[code]

And then run `pod install` and `pod update` to make sure you get the latest version.

Tell me if you need more help 😃

[2017-11-21 12:08] rossrossp opened #28 "Use of unresolved identififer 'HighlightButton'"
We've got some issues with the latest master:
![screen shot 2017-11-21 at 12 04 46](https://user-images.githubusercontent.com/6325131/33071729-a6dc5b6e-ceb4-11e7-9604-5d08cce1af93.png)

[2017-11-26 08:12] MickaelCruzDB opened #29 "Hide status bar"
Hi! I need to hide the status bar of my bulletins (no statusbar on my app). In my BulletinDataSource I added :
[code]
However it doesn't change nothing, status bar appears as soon as the bulletin is displayed. Any idea? Thanks!

[2017-11-27 14:42] MarcoCarnevali opened #30 "Display bulletin over tab bar"
Hello! I think it's better to replace this:
( on presentBulletin func on BulletinManager )
` presentingVC.present(viewController, animated: animated, completion: completion)`
with:
`if let tabBar = presentingVC.tabBarController {
            tabBar.present(viewController, animated: animated, completion: completion)
        }else{
            presentingVC.present(viewController, animated: animated,

[2017-11-27 15:31] alexaubry commented on #29
I've added a new status bar customization API in the latest master commit (9075e50bed439b4ed1f14ff096d7143d60ff9431).

To hide the status bar, you can now use this:

[code]

Note that you have to change the `statusBarAppearance` before calling `prepare` and presenting the bulletin.

This will ship with the next release, but you can build the framework from the master branch if you need this new fe

[2017-11-27 15:43] alexaubry commented on #30
You can already do this yourself, by telling the bulletin manager above which view controller the bulletin should be presented.

You can present the bulletin over your tab bar by using this code:

[code]

It presents your bulletin above the view controller's tab bar controller, or over the view controller if it does not have a tab bar controller.

Let me know if this works 😃

[2017-11-28 07:31] MickaelCruzDB opened #31 "Avoid dismiss displayActivityIndicator() during operation"
Hi! In my project I'm using displayActivityIndicator() in order to wait during a sync/download. I would like to avoid that the user can dismiss the download and close the activity indicator.
My idea was to insert self.view.isUserInteractionEnabled = false like the example below. However it doesn't work I can dismiss the item. Any idea ? Thanks a lot in advance!

[code]

[2017-11-28 08:33] MickaelCruzDB commented on #31
I'm stupid..
`self.page.isDismissable = true` is already made for this...

[2017-11-28 08:33] #31 closed

[2017-11-30 21:35] eliburke opened #32 "Customizing the stock PageBulletinItem"
For my app, I wanted to customize the stock PageBulletinItem class with additional views so that we have a consistent look and feel between stock and modified Pages. Unfortunately, some parts of PageBulletinItem are _public_ instead of _open_ and can't be overridden, and the stack view of buttons is not available outside of makeArrangedSubviews().

Do you have any interest in exposing additional c

[2017-12-01 02:59] AAAstorga opened #33 "Supporting CollectionView?"
### New Issue Checklist

- [ x] I updated BulletinBoard to the latest version.
- [ x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [ x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [ x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

I w

[2017-12-01 14:24] alexaubry commented on #33
It is possible to create a custom `BulletinItem` class that contains a collection view.

## Create a wrapper for the collection view

As collections view cannot directly be used within stack views, you need to create a wrapper view to provide its size.

[code]

## Create the Bulletin Item

Now that you can use collection view within stack views, you can implement your custom `BulletinItem` to disp

[2017-12-01 14:26] alexaubry commented on #33
After #32 is solved, it should be easier to create custom bulletin items. You should watch this issue if you don't want to implement the action button handling manually.

[2017-12-03 23:33] AAAstorga opened #34 "Card and iPhone Safe Area"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

![img_9

[2017-12-05 07:54] #34 closed

[2017-12-05 07:55] alexaubry commented on #34
The fix for this branch is now in the master branch, and will ship with the next release. Thank you very much for reporting! 😄

[2017-12-05 11:49] alexaubry commented on #32
That's definitely an important missing feature. Thanks for requesting it!

I've been testing several ways to implement it, and I've pushed what I think is the easiest solution on the master branch (f8f765753fd0d97462a19d63ab3ab58e3268bdf4).

I've created a base class `ActionBulletinItem` that handles creating the buttons and recognizing the taps. It has an `open` method named `makeContentViews(int

[2017-12-05 14:50] alexaubry commented on #24
It seems to be working fine for me, so I will close this issue for now. Feel free to reopen it if you still have this bug.

[2017-12-05 14:50] #24 closed

[2017-12-05 15:18] alexaubry commented on #22
Building BulletinBoard as a static framework appears to work when I follow Carthage's [guide](https://github.com/Carthage/Carthage/blob/master/Documentation/StaticFrameworks.md). Feel free to reopen the issue if that didn't fix it for you.

[2017-12-05 15:18] #22 closed

[2017-12-05 15:23] eliburke commented on #32
@alexaubry this is interesting. It's pretty different than what I was thinking. Customizing custom Bulletins that look like PageBulletinItem will still take a fair bit of boilerplate, but it is manageable. Customizing the buttons as in PetSelectorBulletinPage is weighty.

For kicks, I tried updating TextFieldBulletinPage to use ActionBulletinItem. It is unfortunately difficult to get the text inpu

[2017-12-05 15:25] eliburke commented on #32
FWIW, I don't mean to sound negative about this update. It's a great improvement for modifying the stock appearance and using the standard button behavior, and also makes implementing a completely custom design much cleaner.

[2017-12-05 15:32] alexaubry commented on #27
It appears to be working with the two snippets I provided. Feel free to reopen the issue if it still does not work.

[2017-12-05 15:32] #27 closed

[2017-12-05 15:37] alexaubry commented on #30
I'm using this solution in production, and it appears to be working fine. Feel free to reopen this issue if you expected another result.

[2017-12-05 15:37] #30 closed

[2017-12-05 16:06] alexaubry commented on #33
I've added an example for collection view items in the latest commit, thanks for the idea 🚀

Feel free to open a new issue if you have more questions regarding collection views.

[2017-12-05 16:06] #29 closed

[2017-12-05 16:18] alexaubry commented on #28
You can't not use the HighlightButton type directly, as it's an implementation detail of BulletinBoard, and is hidden to apps to avoid animation issues when using it inside bulletin items.

However, if you update to the latest master (after 1c7243bbc0cd0842e51e62aaa80bffbb71d3b43f), you can use the following code:

[code]

(P.S. Sorry for the delay 😬)

[2017-12-05 16:21] alexaubry commented on #14
This appears to be working consistently in the latest commits, closing this issue for now. Feel free to reopen it if you still have this bug 👍

[2017-12-05 16:21] #14 closed

[2017-12-06 21:12] LowKostKustomz opened #38 "Activity indicator not moves with item on swipe"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

When `a

[2017-12-08 13:09] arkader opened #40 "Turn off LLVM profiling or code coverage"
Itunes Connect issue when releasing on App Store

### New Issue Checklist

- [ ] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/Bull

[2017-12-08 13:38] arkader commented on #40
I've just seen that you've fixed the issue with this commit:
https://github.com/alexaubry/BulletinBoard/commit/e2b54d6a3204b9f8a03b133f4a3c98e04a918fba

How could I apply this fix to my current version?
Cheers

[2017-12-08 14:12] alexaubry commented on #40
Hey @arkader! Sorry for the inconvenience. You seem to be using Carthage to build the framework (since CocoaPods does not enable LLVM instrumentation).

I would suggest that you update your `Cartfile` to use the commit where this issue has been fixed:

[code]

And then run `carthage update BulletinBoard` to build the framework without code coverage support.  No major API change were made before th

[2017-12-08 14:29] arkader commented on #40
Hi @alexaubry
Thank you for you quick reply.
I've updated the Cartfile and have runned:
`carthage update BulletinBoard`
However, I receive few errors:
![screen shot 2017-12-08 at 14 27 10](https://user-images.githubusercontent.com/1659350/33769973-f4a1031e-dc23-11e7-8f0c-62ef9853cf9c.png)

I believe that you've made the LLVM fix after having renamed some classes.
Is there a way to cherry pick your

[2017-12-08 15:50] arkader commented on #40
I've found a way to fix the issue!

https://stackoverflow.com/questions/46160518/xcode-9-carthage-itunes-connect-error-invalid-bundle-disallowed-llvm-instr

Thanks anyway!

[2017-12-08 15:50] #40 closed

[2017-12-10 11:22] alexaubry commented on #32
@eliburke Thank you very much for you feedback! I've implemented your initial suggestion in PR #41, and it makes customization way easier and reduces the amount of boilerplate code 💯

Can I ask you to review the PR and tell me if you think some improvements are still needed?

[2017-12-10 11:23] alexaubry commented on #32
I will open a separate issue about callback changes for actionHandler/altActionHandler.

[2017-12-12 15:08] eliburke commented on #32
Hi @alexaubry I'm happy to take a look. Do you want me to do a full PR review (which I think you have to initiate?) or just let you know what I think?

[2017-12-12 18:17] eliburke commented on #32
Couple of things I've noticed:
footerViews() is not being called by ActionBulletinItem.makeContentViews()

There is a bug in BulletinInterfaceBuilder.makeTextField(). It does not honor the returnKey parameter but rather hard codes it to .default.

[2017-12-14 13:15] Eliaschetouani opened #42 "Date picker"
A date picker 😍😍😍

[2017-12-14 14:55] alexaubry commented on #32
Thanks for the feedback! I fixed the returnKey parameter bug.

I'm actually calling `footerViews()` after `makeContentViews()`, so I think it's good.

https://github.com/alexaubry/BulletinBoard/blob/eba896d2d33126f307b96d7f6dcaf10c8710a068/Sources/Models/ActionBulletinItem.swift#L247

Please let me know if you think other customisation options are missing for the page item, or if you think there a

[2017-12-15 09:07] alexaubry commented on #32
I thought `headerViews` made more sense in PageBulletinItem, because it has a title.

[2017-12-15 09:15] alexaubry commented on #32
These changes are now in the `master` branch and will ship with the next release. Thank you very much for the feature request and your help to implement it 💯

[2017-12-15 09:15] #32 closed

[2017-12-15 09:19] alexaubry commented on #38
That's actually the intended behavior. The item should not be dismissed if there's a task in progress.

I fixed the bug that allowed the card to be dismissed if you swiped from the borders, but I can't think of a use case where it's useful to be able to swipe off a card when a task is in progress. Could you tell me why you'd want to do this?

[2017-12-15 10:34] alexaubry commented on #42
I've added a demo date picker item in `master`

https://github.com/alexaubry/BulletinBoard/blob/b196f08c8a8b648a23decdd04fe702d51f80fc79/Example/Swift/Bulletin/DatePickerBulletinItem.swift#L13

The API used to create it will be available in the next release.

[2017-12-15 10:34] #42 closed

[2017-12-15 11:53] LowKostKustomz commented on #38
In my app I've Two-Factor Authentication and to enable it I want to make some requests. But during that requests user can change mind and swipe off Bulletin if he doesn't want TFA anymore . This behavior needed to not force user to wait until requests are completed.

Another example: I want to programmatically dismiss Bulletin just after a request completion and not to show success item (success w

[2017-12-15 17:54] alexaubry commented on #38
You're right, it's definitely better to allow the programmer to decide the user experience for their apps. Fixing this before the next version ships.

[2017-12-15 18:33] #38 closed

[2017-12-17 21:16] Burnsy opened #43 "Port to React-Native"
Hello All,

I don't know if any of you are interested, But I have started work on a port over to react-native!

Is this something you guys would be interested in?

Thanks

[2017-12-22 13:40] alexaubry commented on #28
Closing this issue for now. Feel free to reopen it if you still need help.

[2017-12-22 13:40] #28 closed

[2017-12-22 13:41] alexaubry commented on #43
Hello! I'm not familiar with React Native at all 😅 Could you please explain how the port would work?

[2017-12-22 19:18] CaliCastle opened #45 "iOS 11 devices treated as rounded corners"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

<b>iPho

[2017-12-24 16:09] Burnsy commented on #43
Sorry for the delay Christmas and all that! Basically, a port would involve the two parts, swift code and javascript code, (I can code the javascript but my swift skills lack a little). the bridge would look for actions and when the actions are clicked on the javascript side they are sent through the bridge to native swift code, hence the code would open the given bulletin boards. Here a default t

[2017-12-25 15:46] alexaubry commented on #45
This was fixed in commit 9ad27f5e1f3a32ac635c7de69720fa7a6a8ea04a. Thank you for reporting!

[2017-12-25 15:46] #45 closed

[2017-12-28 23:42] Sjoerdjanssenen opened #48 "Unknown type name `BulletinManager` in Objective-C"
I installed the library through CocoaPods and then imported it in the viewcontroller as shown in the example:

    @import BulletinBoard;

Then when I create the property for `BulletinManager`, Xcode will throw an error `Unknown type name BulletinManager`.

### New Issue Checklist
- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/ale

[2018-01-04 14:52] gargs opened #49 "dyld: Symbol not found"
I am adding the framework manually in my workspace with the source. The project builds successfully but when I try to run it on the simulator, I get the following error message, possibly due to a namespace collision with a tvOS framework:

dyld: Symbol not found: _OBJC_CLASS_$_BBAction
  Referenced from: /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/Library/CoreS

[2018-01-05 21:35] nickschafhauser opened #50 "displayActivityIndicator"
Is there a way to present the activity indicator without the user having to click on a button?
I am trying to make it where as soon as the bulletin is displayed, the activator indicator immediately appears as well.

Here is my source code to help you understand what I am trying to do:
static func submitQuestionnairePage() -> FeedbackPageBulletinItem {

        let page = FeedbackPageBulletinItem(t

[2018-01-06 08:46] mitolog opened #51 "Swipe action doesn't work on ios10.2"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

#### ho

[2018-01-06 10:13] mitolog commented on #51
As a quick(nasty...) workaround, you should set `page.isDismissable = false` additionally, otherwise it may crash on 2-3 times swiping action on the card.

[2018-01-08 09:40] alexaubry commented on #48
The version that supports Objective-C has not been released yet (there are still some bugs to fix). If you need to use BulletinBoard before the new version is released, you can set your Podfile to use the master branch:

[code]

[2018-01-08 09:46] alexaubry commented on #50
When you create the page like shown in your code sample, the `manager` property is `nil` ; that's why `displayActivityIndicator()` does nothing.

What you should be able to do, is calling `displayActivityIndicator` after preparing the bulletin manager, but before presenting it:

[code]

Let me know if that works for you.

[2018-01-10 17:42] khoogheem opened #52 "Pod File doesn't contain all source"
Looks like when using the PodFile it doesn't contain all of the source.

Missing:

ActionBulletinItem.swift
BulletinAppearance.swift
BulletinInterfaceBuilder.swift
BulletinPadding.swift
AnimationChain.swift

[2018-01-11 06:41] Xopoko opened #53 "Example was crashed when background style changed"
### Issue Description
I just choose background style in example from Dimmed (Default) to any another and after the board shows, i push button "Configure", app will crash here.
![image](https://user-images.githubusercontent.com/6337061/34811665-f38eaaa4-f6b2-11e7-9012-eeb67506e696.png)

### Environment

- **iOS Version**: iOS 11.2.2 (15C202)
- **Device(s)**:  iPhone 8 (Model A1863, A1905, A1906, A1

[2018-01-12 18:42] alexanderkhitev opened #54 "Buttons' handlers don't work"
Hello! Thank you very much for this framework. I call the BulletinManager from my manager, which is called from the Observer. I have a problem, buttons' handlers don't work. Please tell me how it can be fixed? Thanks

[code]

[2018-01-12 19:06] #54 closed

[2018-01-12 19:28] alexanderkhitev opened #55 "When is the new release?"
Hi! When is the new release?

[2018-01-16 02:25] nickschafhauser commented on #50
@alexaubry That didn't seem to make a difference. I am still having the same behavior as I had earlier without that change.

[2018-01-16 06:37] ErAshu commented on #53
Yes, i have also face this issue. PLS Fix

[2018-01-16 18:01] LoicVerrall commented on #54
Don't declare your `BulletinManager` inside a function. Declare it outside the function and just initialise it in there. Does that make sense?

[2018-01-16 18:56] alexanderkhitev commented on #54
@LoicVerrall  yes, it makes sense.

[2018-01-18 08:24] petritzdesigns commented on #52
Same problem for me. Using Cocoapod and downloaded the Version 1.3.0.
The checksum is:
  BulletinBoard: 23c9d98cac654fd484d76f2a0655669974e9bd9c

[2018-01-18 12:43] petritzdesigns commented on #52
Nevermind, this is because the current version in the master branch is ahead of the v1.3.0

[2018-01-31 11:51] alexaubry commented on #49
That looks odd 😮 I remember `BBAction` is something I've wrote on my local computer, but never even pushed to the repository. I assume you tried to do a full clean (delete derived data and BulletinBoard) before building?

If it still fails, I would recommend setting up Carthage, which I think is usually more reliable than adding the source manually.

[2018-02-08 12:22] azhararmar opened #57 "Custom View Alignment"
Align Custom Views Using Contraint

### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issu

[2018-02-08 14:36] eliburke opened #58 "Adding a custom UIView with intrinsic content height"
Yesterday, I needed to add an activity spinner to one of my bulletin board pages, but I wanted it inline instead of a full page spinner. It is essentially: "Downloading Images" [spinner] [cancel button]

A standard UIView can't be easily added to the contentViews stack because it has no intrinsic content size. If you don't set a frame, it is sized to 0x0. If you do set a frame, it must be manually

[2018-02-08 17:26] eliburke commented on #57
@azhararmar I have not tested this exact scenario, but I think if you create an empty UIView and then add your StarView as a subview, you will be able to apply constraints to the StarView to center it within the parent UIView. Then return the parent UIView to BulletinBoard, and when it is stretched to fill the screen width the StarView will remain centered.

[2018-02-09 06:05] azhararmar commented on #57
@eliburke this makes sense, ill try this approach, thank you for your response. I appreciate it.

[2018-02-09 09:43] cesaredecal opened #59 "Multiple Pages"
So if I wanted to display two different pages which are not related to each other and should be displayed at different times would I need to create two bulletin managers? The thing is that I could only use one manager but then I'd have to hide the first page very quickly to show the `nextPage`.

[2018-02-11 08:36] cesaredecal opened #60 "App Store issue with NFC tags"
In the README it is stated that this library supports NFC tags. I'm getting an error from iTunes Connect saying that I need to specify that since I am using `NSBluetoothPeripheralUsageDescription` inside my app I have to specify the reason in the .plist file. Now, the issue is that I am not using NFC/Bluetooth. What I did was installing the pod plus duplicating every file in the example project.

[2018-02-13 13:59] LowKostKustomz commented on #60
The README says that bulletin board **looks** the same as cards displayed for NFC tag scanning and some other cards. The library does not provide any other features but presenting bulletin items, just UI.

Probably you have enabled NFC tags in your project file

or another framework somehow uses it.

[2018-02-13 14:06] LowKostKustomz commented on #59
Probably yes.

You can create new manager with another root item or just push another item without back button to existing manager. All depends on your requirements.

[2018-02-14 03:54] cesaredecal commented on #60
Thanks so much! I can confirm the framework is NOT the cause of the issue.

[2018-02-14 03:54] #60 closed

[2018-02-14 03:58] cesaredecal commented on #59
Awesome, thanks for helping out! Closing this.

[2018-02-14 03:58] #59 closed

[2018-02-14 17:13] cesaredecal opened #61 "isDismissable not working on iPad"
I cannot seem to be able to dismiss any page on an iPad, even though the `isDismissable` page property is set to true. Kindly check out this GIF: http://www.giphy.com/gifs/xUOwGa67p1p3bKq8Vy. How can I fix this?

[2018-02-21 19:02] eliburke opened #62 "adding "bulletinWillAppear/DidAppear""
I would like to be able to interact with my bulletin pages after they are shown to the user. For example: setting the first responder in order to show the keyboard, or disabling a button until a user has taken some other action. Right now it is only possible to do this via asyncAfter or a timer.

I know that it is possible to pass a completion block to BulletinManager.presentBulletin(), but it doe

[2018-03-02 01:09] CaliCastle commented on #62
Hi, I added this for when the bulletin appeared, see if this can help you:
#47
https://github.com/alexaubry/BulletinBoard/pull/47

[2018-03-02 21:30] st34m3dr1c3 opened #65 "Manual installation"
Will this library be available for manual installation (not using CocoaPods/Carthage) in the future?

[2018-03-05 08:47] alexaubry commented on #65
You can already install the library manually. All you have to do is cloning or downloading the repository and copying the `Sources` directory into your project (you can rename it, it doesn't matter).

If you've already done this and there were problems, let me know.

[2018-03-05 08:51] alexaubry commented on #61
This is the intended behavior, as I found that swiping on iPad is not an optimal experience. You can still tap outside of the view to dismiss it.

I'm also working on adding a close button on the card to make dismissal more obvious and accessible. Should ship in the next beta of the v2.

[2018-03-05 08:55] cesaredecal commented on #61
Ok thanks!

On Mon, 05 Mar 2018 at 09:51 Alexis Aubry < Alexis Aubry ( Alexis Aubry <notifications@github.com> ) > wrote:

[2018-03-05 11:28] alexaubry commented on #53
This was fixed in ef6749c01bbd3bb0c7d7abdee0b4700f6dfa038a.

You can update the library to `2.0.0-beta.1` to get the fix. However, it's a beta version and I would recommend waiting for the final update to upgrade for production use, as some code might break.

[2018-03-05 11:37] alexaubry commented on #50
I've worked on a way to show the activity indicator as soon as the item is displayed, and implemented this API to do it:

- Set `shouldStartWithActivityIndicator` on the item to `true`. The content views will be hidden and the activity indicator will be displayed.

- Implement `onDisplay` or `presentationHandler` to detect when the item is presented. From here, you can perform your work and hide t

[2018-03-07 07:30] Capossito commented on #27
im getting the same issue there's no appearance available for the PageBulletinItem. I'm on the latest version 1.3.0, and still not working. already pulled directly from master but still. help please.

[2018-03-14 01:23] artoymsd commented on #49
@gargs Hello! Did you solve this problem?

[2018-03-17 10:47] adeeldb opened #66 "Presenting a ViewController above BulletinBoard"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description
I'm unab

[2018-03-18 17:05] rizwan95 commented on #48
+1 ! I also need an objective C version.

[2018-04-02 18:07] edonv opened #68 "Changing Button Title/Description Text After Page Item is Displayed"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

Somethi

[2018-04-02 19:57] cyrilzakka opened #69 "Value of type 'BulletinManager' has no member 'displayNextItem'"
Can't seem to present the next item...

### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/

[2018-04-03 18:59] eliburke commented on #68
_title_, _descriptionText_, and _image_ are all used to build the initial bulletin view, but do not provide direct access to the underlying UI components. You can modify them via PageBulletinItem.titleLabel.text, PageBulletinItem.descriptionLabel.text, and PageBulletinItem.imageView.text

Changing buttons is a little more involved. The "correct-est" way is to subclass PageBulletinItem and implemen

[2018-04-04 01:32] edonv commented on #68
Thanks! The code you sent was almost perfect, but I figured it out. The makeActionButton() func returns a HighlightButtonWrapper instead of a UIButton, so the reference was of that type. And in the viewsUnderDescription override, I had to call add a target to the UIButton in the HighlightButtonWrapper referring to the actionButtonTapped func in the PageBulletinItem class. Once that was set up, I j

[2018-04-04 01:33] edonv commented on #68
Ok I just realized that I didn't have to do any of that. I could just call setTitle on the item instance's actionButton property. Thanks anyway, though!

[2018-04-04 01:46] eliburke commented on #68
Oops! Sorry @edonv ! Glad you got it working.

[2018-04-06 11:36] alexaubry commented on #52
If you need one of these features, you can use the `2.0.0-beta.1` prerelease.

[2018-04-06 11:36] #52 closed

[2018-04-06 11:39] alexaubry commented on #55
The version 2 of the framework will be available soon. If you need one of the new features, you can migrate to the `2.0.0-beta.1` prerelease.

[2018-04-06 11:39] #55 closed

[2018-04-06 11:45] alexaubry commented on #69
What version of the library are you using?

[2018-04-06 18:03] cyrilzakka commented on #69
Latest! Turns out it page.displayNext() not ItemManager you call .displayNext() on.

[2018-04-06 18:03] #69 closed

[2018-04-19 13:51] everdrone commented on #43
Would love to see this ported to React Native!

[2018-04-23 03:35] #68 closed

[2018-04-23 08:29] alexaubry commented on #49
@gargs @artoymsd It appears that there is a conflict with a private framework Apple added on iOS 11.1 that's named ... BulletinBoard. The only way to get around this would be to rename the library. Working on a fix for the v2 release.

[2018-04-23 08:57] gargs commented on #49
That’s what I did in my private branch.

Sent from my iPhone

[2018-05-05 09:18] MrShafiee opened #72 "code in textInputHandler run twice"
### Issue Description
Hi, when I print text in textInputHandler, it print twice in console log! what should I do ?
page.textInputHandler = { (item, text) in
               print("value is \(text)")
        }

[2018-05-10 15:53] ajchili opened #73 "Currently impossible to handle user input"
I have an issue with custom BulletinItems, if any contain UITextFields, it is impossible for a user on a physical device to provide input and see what they are typing. I have created a work around, however, I think it would be best to have an implemented feature for this.

I am not super familiar with swift conventions or best practices, but here is my current work around (function in BullitenMana

[2018-05-10 17:02] yusuftor commented on #27
+1

[2018-05-10 17:04] alexaubry commented on #27
@Capossito @yusuftor Could you try using the 2.0.0 beta and let me know if the appearance is available with this version?

[2018-05-10 17:06] yusuftor commented on #27
Will do, can I do this through Cocoapods?

[2018-05-10 17:08] alexaubry commented on #27
Sure, try using the `v2` branch in your Podfile:

[code]

[2018-05-10 17:10] yusuftor commented on #27
Ok just tried and it doesn't work with that either. It works in the sample swift app though...

[2018-05-11 08:48] yusuftor commented on #27
Hi, just tried this again today. The master branch **does** work with appearance. I think it was an issue with Cocoapods so I've been cleaning my project and closing and reopening it. Finally it works! Thank you.

[2018-05-12 17:28] naman17 opened #74 "unable to present bulletin from viewdidload"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

this is

[2018-05-14 00:50] mergesort opened #75 "Feature Request: Support for NSAttributedString"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

I would

[2018-05-25 07:19] alexaubry commented on #74
On iOS, you can usually only present a new view controller if the current view controller is displayed, because otherwise there is no view on the screen to perform the transition. You should try moving this code to `viewDidAppear`.

[2018-05-25 07:45] alexaubry commented on #72
Hi, I just managed to reproduce the issue. I will investigate.

[2018-05-25 08:11] alexaubry commented on #72
I have fixed this issue. It turns out there were some issues in the handling of the return key and action button. The fix will be available in the next release, thanks very much for reporting! 😄

[2018-05-25 08:18] alexaubry commented on #49
I have fixed this on the v2 branch. All classes now have the `BLTN` prefix, and the module was renamed to `BLTNBoard` to avoid these conflicts. The fix will be available in the next beta release. Thanks for reporting this issue!

[2018-05-25 08:20] alexaubry commented on #48
@rizwan95 You can try the beta version of the framework to get the Objective-C API.

[2018-05-25 13:15] alexaubry commented on #73
Which version of the framework are you using? Keyboard support was introduced in the first beta of 2.0.0. Switching to this version should fix this issue; although let me know if this is not the case 😃

[2018-05-25 13:53] alexaubry commented on #58
Thanks for the suggestion! I've implemented this in 933402c51ac5b6c48b08da71f1868b1e650aa18b. There is now a view named `BLTNContainerView` that allows you to specify a content size. You can set the child view (such as an activity indicator or a collection view), and set up its constraints with Auto Layout inside a block.

As you suggested, I added a utility method on `BLTNInterfaceBuilder` to mak

[2018-05-26 07:37] alexaubry commented on #61
I implemented the close button, it will ship with the next beta release. Thank you again for bringing up this issue!

[2018-05-26 07:39] alexaubry opened #77 "Auto Layout issue when switching cards"
### Issue Description

When switching to a new item, the card "jumps" a few pixels higher and goes back to the expected position as the new items appear. This needs to be investigated before releasing v2.

### Steps to reproduce

1. Clone the `v2` branch of the project.
2. Build and run the example project and tap “show intro“
2. Tap the “Configure“ button

The bug happens during the transition.

[2018-05-27 06:28] alexaubry commented on #62
This feature shipped with the version `2.0.0-beta.3` of the library. You now can set a `presentationHandler` and a `dismissalHandler` on the item to handle these events. These are called during the transition in `BLTNManager`.

Thanks again for your suggestion!

[2018-05-27 06:28] #62 closed

[2018-05-27 06:28] #77 closed

[2018-05-27 06:29] alexaubry commented on #72
The fix shipped in `2.0.0-beta.3`.

[2018-05-27 06:29] #72 closed

[2018-05-27 06:30] alexaubry commented on #66
This feature shipped in `2.0.0-beta.3`. Thanks again for the feature request 😄

[2018-05-27 06:30] #66 closed

[2018-05-27 09:52] alexaubry commented on #50
The new behavior shipped in `2.0.0-beta.3`, thanks for the suggestion! 😄 Feel free to reopen this issue if you have any feedback.

[2018-05-27 09:52] #50 closed

[2018-05-27 13:58] alexaubry commented on #51
This issue seems to be fixed with version `2.0.0-beta.3`, as changes have been made to the swipe gesture recognizer (users have to lift their finger to complete the dismissal). Please feel free to reopen this issue if you manage to reproduce it on this version or a later one.

[2018-05-27 13:58] #51 closed

[2018-05-27 14:19] #75 closed

[2018-05-27 15:13] lukaskirner opened #79 "actionHandler won't fire"
The actionHandler won't fire. What am I doing wrong?

- used version 1.3.0
- newest xcode
- running on ios 11.3

setupAppManager() gets called form viewDidLoad()
[code]

[2018-05-27 15:18] alexaubry commented on #79
The bulletin manager needs to be retained by the presenting view controller. Here, you declare it inside a function, which means it will be deallocated when `setupAppManager` returns. And, when the manager is deallocated, so is the `test` bulletin item. That's why your closure isn't called (because it doesn't exist in memory anymore).

In the [README](README), I suggest that you declare the bullet

[2018-05-27 16:02] lukaskirner commented on #79
Worked !
@alexaubry thanks for your help

[2018-05-27 16:02] #79 closed

[2018-05-28 09:26] alexaubry commented on #48
The Objective-C version is available in the version 2.0.0 of the library. You can update using the instructions in the release notes.

[2018-05-28 09:26] #48 closed

[2018-05-28 09:27] alexaubry commented on #65
This should not be a problem. Do not hesitate to reopen the issue if you still encounter an issue.

[2018-05-28 09:27] #65 closed

[2018-05-28 09:28] alexaubry commented on #73
The stable version of v2.0.0 shipped this morning, with text input support. You can upgrade according to the instructions in the release notes. This should fix your issue :)

[2018-05-28 09:28] #73 closed

[2018-05-28 11:02] victor-sarda opened #81 "CloseGlyph - Unexpectedly found nil while unwrapping an Optional value"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

Hi 👋,
I

[2018-05-28 15:43] yusuftor commented on #81
I got this issue too... please fix asap

[2018-05-28 17:48] alexaubry commented on #81
There was a problem with the Podspec, it didn't include the image resources. Sorry about this issue 😰

Could you please try if the fix works before I push the hotfix by replacing the BulletinBoard in your Podfile by this (to download from master):

[code]

And run `pod update`. Let me know if this fixes your issue.

[2018-05-28 17:49] victor-sarda commented on #81
Sure, no problem. I'll try it now

[2018-05-28 17:59] victor-sarda commented on #81
Yep it looks like it's fixing it 🎉
Nice update btw 😅

[2018-05-28 18:07] alexaubry commented on #81
You can update to `2.0.1` now. Sorry about the inconvenience.

[2018-05-28 18:08] #81 closed

[2018-05-28 18:10] a2 commented on #81
![High fiving a million angels](https://media.giphy.com/media/DOxlkyuDxTrna/giphy.gif)

[2018-05-29 08:37] naman17 commented on #74
Thank you, makes sense and works fine from `viewDidAppear`

[2018-05-29 08:37] #74 closed

[2018-05-30 19:51] eliburke opened #82 "v2 questions / notes for migration guide"
Howdy. I'm going through and updating our v1 implementation and I've got a couple of notes. tl;dr: v2 is looking great.

- No way I can find to override or customize the dismiss button. Would be great to have an appearance proxy for the image name if we can't just set it directly
- No simple way to constrain the image in a BLTNPageItem. For example if I set a photo as the image, it will expand to

[2018-06-01 12:04] yusuftor opened #83 "How to check whether BLTNItemManager is displaying?"
I can't see a way to tell if the bulletin manager is already displaying an item. This would be super useful in my app if it could be implemented, if not already. Thanks!

[2018-06-01 17:56] Leniox opened #84 "BulletinManager already created when used inside collectionViewCell"
I have a collectionView. Inside each viewCell, I have an image with a tapped gesture closure. When the image is tapped, it fires the bulletin manager. This is important because I am using each collectionviewCell's Image as the page.image for the bulletinpageItem.

class CollectionViewCell: UICollectionViewCell{

    @IBOutlet weak var featuresLabel: UILabel!
    @IBOutlet weak var modelLabel: UILa

[2018-06-13 06:40] heyhujiao opened #85 "Allow adding of new items to BLTNItemManager instance without pushing immediately"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

Current

[2018-06-13 15:59] sejr opened #86 "Accessing the BLTNPageItem ImageView"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description
I would

[2018-06-13 16:03] sejr commented on #86
This is related to a point made in #82.

[2018-06-16 06:07] arvidurs opened #87 "Textfield Page - Empty text"
Using TexfieldPage and hitting the submit button on an empty textfield I get the warning:
You must enter some text to continue.

It should return to its original state after the user entered some text.

arvid

### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.m

[2018-06-16 06:10] #87 closed

[2018-06-17 15:25] ghost opened #88 "how can i update the bulletin after it was presented"
how can i update the bulletin image after it the bulletin was presented

[2018-06-18 18:36] aliondos opened #89 "attributedDescriptionText doesn't seem to be working."
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description

This is

[2018-06-20 18:51] gerbil802 commented on #32
Hi, in relation to this- is there a textField ready page out of the box? or should I build I myself?

[2018-06-20 19:08] eliburke commented on #32
You have to create it your self. But it's easy. This should be enough to get you started. ( I stripped a bunch of stuff out of some live code so I won't guarantee it compiles. 😄 )

[code]

[2018-06-25 10:09] jose46moreno opened #90 "It doesn't work"
I installed the pod on iOS 11.3.

Then from the.swift file I made the BulletinBoard import but it doesn't give me any information about the library. He also doesn't recognize any of his classes and won't let me use them.

This is the error when I try to show the framework:

<img width="1440" alt="captura de pantalla 2018-06-25 a las 12 10 43" src="https://user-images.githubusercontent.com/8105593/

[2018-06-26 13:06] arkader opened #91 "descriptionFontDescriptor does not take the font Size into account"
### New Issue Checklist

- [x] I updated BulletinBoard to the latest version.
- [x] I read the [Contribution Guidelines](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md).
- [x] I read the [documentation](https://alexaubry.github.io/BulletinBoard).
- [x] I searched for [existing GitHub issues](https://github.com/alexaubry/BulletinBoard/issues).

### Issue Description
Hello Al

[2018-06-27 17:37] eliburke opened #92 "seeking suggestions for handling rotation"
Some of my taller Bulletin Board items render poorly when the phone is rotated. It happens when the description text is long, and especially when an image is set.  Typically, the label is truncated to a single line, the primary button is shrunk to a minimum size, and the secondary button is pushed off screen. It is possible to scroll but it does not work well and is not intuitive.

I'm wondering i

[2018-07-09 16:17] arvidurs commented on #83
+1

I would like to check if it is displaying, if so dismiss.

[2018-07-09 16:25] arvidurs commented on #83
@yusuftor what I did.. I went to the **BLTNItemManager** and changed the var fileprivate var isPrepared to public var isPrepared. Then I was just doing the check if isPrepared { do this}. Which solved my issue

[2018-07-09 16:30] arvidurs commented on #83
I'm on cocoa pods too.. I still can just edit it locally. For him to implement it though, I would rather do this:
`public var isShowingBulletin: Bool {
        return isPrepared
    }`

[2018-07-12 12:03] petritz opened #93 "WebView Support?"
Hello,
is it also possible to have WebView Support within a Page?

I tried creating a custom feedback page item and returned a WKWebView (and UIWebView) in the `makeViewsUnderDescription` method but that only results to an empty page being rendered. I followed the example where the UICollectionView is implemented, but still no success.

[2018-07-14 01:40] pprevalon opened #94 "Is it posible to hide the current card"
Is it posible to hide the current card

[2018-07-15 20:07] #89 closed

[2018-07-16 07:20] alexaubry commented on #89
This was fixed by @a2. Thank you for the hint 😄

[2018-07-16 07:30] alexaubry commented on #90
This is most likely an issue with your CocoaPods set up, as I could not reproduce this issue, even on computers where the library was never cloned before.

Also, the name of the module is now `BLTNBoard`, I see you are trying to get the Swift header for `BulletinBoard`. Have you tried cleaning / deleting derived data?

[2018-07-16 07:33] alexaubry commented on #94
Hi! Could you please provide some context: what is your setup, what are you trying to do, what do you mean by "hiding"?... Then we can pick it up from there 😄

[2018-07-16 07:37] alexaubry commented on #91
Hi! This looks problematic, indeed. Let me have a look at this, I'll keep you updated 😄

[2018-07-16 10:23] petritzdesigns commented on #93
The newest stable version. I deleted the subclass again, but it was basically the example with the collection view but with the web view. The result displayed just the title, so I guess that there are just layout problems? Although with the UI Debug Tool there was no Web View Node…

[2018-07-21 16:20] Gianlo98 opened #97 "Update for Xcode 10"
Hi i want to use this library inside my Xcode project but i can't do this because i'm using swit 4.2 and the master branch (installed with pod) use the 4.1 version.
The library will be updated ?

[2018-07-21 16:41] Gianlo98 commented on #97
sure !
I have 2 errors, one when i'm importing the library and the others on the left
https://www.dropbox.com/s/tldda44ndk0luy1/Screenshot%202018-07-21%2018.38.46.png?dl=0

Maybe i had a mistake when i have installed the library with pod ?
Thanks for help

[2018-07-21 16:48] alexaubry commented on #97
Oh you are using Xcode 10! I will fix the compilation errors. You could also contribute if you feel like it 😃

[2018-07-23 21:28] slashmo opened #99 "Cannot be built as static library"
**Problem Description:**
When using [Cocoapods new static library feature](http://blog.cocoapods.org/CocoaPods-1.5.0/) in a Podfile including BulletinBoard, the build fails due to includes of `BLTNBoard/BLTNBoard-Swift.h` in both `BLTNActionItem.m` & `BLTNPageItem.m` which cannot be found.

I already used a [known workaround](https://github.com/CocoaPods/CocoaPods/issues/7594) which fixes this iss

[2018-07-24 19:52] slashmo commented on #97
@Gianlo98 & @alexaubry Is either of you already working on this? Otherwise, I'd like to do it 😊

[2018-07-25 07:30] alexaubry commented on #97
@Gianlo98 I didn't start anything yet. Feel free to pick it up :)

[2018-07-26 05:31] #99 closed

[2018-07-27 23:49] pprevalon opened #101 "description text is only on one line"
my page.description text does not show my text on multiple lines only on one line this is my code.
`lazy var bulletinManager: BLTNItemManager = {
        page.descriptionLabel?.numberOfLines = 0
        page.descriptionText = "Your Rquest was successfully. We will contact you if we have any questions."
        page.actionButtonTitle = "Dismiss"
        let greenColor = UIColor(red: 0.294, green: 0

[2018-08-03 07:30] a2 commented on #101
I would guess that `page.descriptionLabel` is `nil` at the point where you are setting its `numberOfLines` to 0. The `descriptionLabel` property is not set until the method [`-[BLTNPageItem makeContentViewsWithInterfaceBuilder:]`](https://github.com/alexaubry/BulletinBoard/blob/892106f8d7d1d4f3a0992c41ab70405911cfcaf5/Sources/Models/BLTNPageItem.m#L123-L134) is called.

[2018-08-03 20:05] eliburke commented on #92
Saw this article on combining [UIStackView and UIScrollView](https://blog.alltheflow.com/scrollable-uistackview/). Haven't had a chance to digest it but it is still on my radar.

[2018-08-08 14:15] eliburke opened #103 "Provide a mechanism to pop the current card or dismiss the manager"
I have a couple of Bulletin Board pages that can be used either standalone, or be pushed from another page. When they are used as standalone pages, the action buttons must trigger dismissBulletin() and when they are pushed from another page, the action buttons may trigger either popItem() or dismissBulletin()

Unfortunately, BLTNItemManager declares many of its internal variables as fileprivate so

[2018-08-09 16:35] yusuftor commented on #83
Do you think you could submit a pull request with that modification?

[2018-08-11 09:52] a2 opened #104 "BLTNActionItem and BLTNPageItem reference obsolete InterfaceBuilderType"
Links to comments in [BLTNActionItem.h](https://github.com/alexaubry/BulletinBoard/blob/80eca1334270a5f167b492d1821c6cbc416571f1/Sources/Models/BLTNActionItem.h#L32-L33) and [BLTNPageItem.h](https://github.com/alexaubry/BulletinBoard/blob/80eca1334270a5f167b492d1821c6cbc416571f1/Sources/Models/BLTNPageItem.h#L25-L26)

[2018-08-13 20:18] grey280 opened #106 "Use of custom buttons"
Working on a custom subclass of `BLTNPageItem` that includes multiple buttons in the 'main button' style, and while I've got it working, I wanted to verify that the way I'm doing it is correct.
In one of the `makeViewsUnder...` methods, I'm creating a button, i.e. `let newActionButton = interfaceBuilder.makeActionButton...`
I'm then attaching the handler via `newActionButton.button.addTarget`.
Is

[2018-08-14 08:25] a2 commented on #104
Seems that `interfaceBuilderType` is now a property on those classes.

[2018-08-14 17:28] brian-heidrich opened #107 "Issues with Pod"
**Problem Description:**
When installing BulletinBoard via CocoaPods I receive a build error:

I read that this issue was supposed to be fixed, not sure if I am just doing something wrong now.

**Steps to reproduce:**

- Install BulletinBoard with podfile:

[code]

- Open workspace provided by CocoaPods.
- Try to build
- Error

**Environment:**
 - Version of BulletinBoard: 2.0.1
- Version of Cocoa

[2018-08-14 17:39] brian-heidrich commented on #107
Fixed, I'm just not smart.

[2018-08-14 17:39] #107 closed

[2018-08-25 14:55] marcoistasy opened #108 "Navigation Bar Not Hidden"
**Problem Description:**
I have a view controller with a `navigatioBar` that is set to hidden. However, when I present the bulletin board, the navigation bar does not stay hidden and presents itself.

**Steps to reproduce:**
Set navigation bar hidden in a view controller
Show the bulletin board

**Environment:**
 - Device: [e.g. iPhone X]
 - OS: [e.g. iOS 11.0]

[2018-08-31 21:16] bitbibit opened #109 "populate collectionView based on data from TextFieldBulletinPage"
Hi, was wondering how one would go about populating a collection view with cells using the text from a TextFieldBulletinPage: I've made a TextFieldBulletinPage with a static func where I try and do this. I tried treating it as a alert. So far, I've been able to save the data from the custom TextFieldBulletinPage to Firebase, no luck with treating the bulletin as an alertview. pls pls any hints?

H

[2018-09-12 13:47] heyhujiao commented on #75
hi I would like to ask why does the NSAttributedString of descriptionLabel not able to open links even though I added the link attributed to the string...?

I even tried adding UITapGestureRecogniser to the string but I still cannot open URLs from the text in the descriptionLabel. Followed [this](https://samwize.com/2016/03/04/how-to-create-multiple-tappable-links-in-a-uilabel/) but still cannot o

[2018-09-17 17:06] n3d1117 opened #112 "Buttons in Selector item not updating text color after hiding activity indicator"
**Problem Description:**
I followed [this suggestion](https://github.com/alexaubry/BulletinBoard/issues/50#issuecomment-370392843) to show the activity indicator as soon as a selector item (e.g `PetSelectorBulletinPage`) is displayed, by using `shouldStartWithActivityIndicator = true` and implementing `presentationHandler`.

After hiding the activity indicator, however, the two buttons under descr

[2018-09-25 06:40] powerofpercy opened #113 "Prepare() is fileprivate"
**Problem Description:**
I cannot call prepare() since it is file private, and without calling prepare() sometimes the app would crash due to asswerIsPrepared() being called. Is this a known bug or am I doing something wrong?

fileprivate func assertIsPrepared() {
        precondition(isPrepared, "You must call the `prepare` function before interacting with the bulletin.")
    }

**Steps to reprod

[2018-10-04 09:53] ddaddy opened #116 "Custom Item Guide link not working"
Just a quick heads up.
The link to Creating a Custom Item towards the end of the Readme doesn't work.

<img width="914" alt="screenshot 2018-10-04 at 10 52 40" src="https://user-images.githubusercontent.com/1425808/46466630-c310ac00-c7c3-11e8-89af-61965190f786.png">

[2018-10-05 06:56] timroesner commented on #113
I'm having this issue when I hit the close button. Often happens the second time I present the Bulletin, sometimes during the first time.

[2018-10-05 07:26] timroesner opened #117 "Dynamic Page Item"
I have the issue that I would like to present a dynamic Page Item, meaning title and description will be supplied at runtime. If I understand correctly from the other issues, the manager has to be created as an instance variable. This limits my abilities as I cannot reassign the rootItem or the title of the Page Item once they have been created.

So I'm not sure if this is a feature request or may

[2018-10-05 07:46] powerofpercy commented on #113
Yes, it happens when the bulletin board gets dismissed, it doesn't happen to me that often though.

[2018-10-05 12:18] mbuchetics commented on #97
Unfortunately, that is not correct. Currently, there is no source-compatibility, even with Swift 4.2.

[2018-10-05 16:04] MDub329 opened #118 "Background Color Change"
If there is a way to alter the background color of the page to match the apps color scheme, I have not found it.  Is there a way or is white the only option?

[2018-10-07 20:43] Mindkind-Dev opened #119 "Readme"
Hi.

It could be interesting to update your Readme page.. many things are obsolete such as bulletinManager.prepare() which is replaced by bulletinManager.showBulletin(above: self)

Thanks.

[2018-10-07 21:35] Mindkind-Dev opened #120 "Customizing"
Hi,

Custom items link not working.

https://alexaubry.github.io/BulletinBoard/guides/Creating%20a%20Custom%20Item.md

thanks.

[2018-10-10 02:51] 824092805 opened #123 "Pod库 swift4.2报错"
BLTNInterfaceBuilder类中titleLabel.accessibilityTraits |= UIAccessibilityTraits.header报错Binary operator '|=' cannot be applied to two 'UIAccessibilityTraits' operands

[2018-10-10 19:49] ServusJon opened #124 "Statusbar behind dimmer layer"
Any chance to have the statusbar behind the dimmer layer?

[2018-10-11 04:55] alexaubry commented on #124
You can set the `statusBarAppearance` to `hidden` on the bulletin manager before presenting if you don’t want the status bar to show over the dimming layer.

Let me know if that works for your case.

[2018-10-11 04:59] alexaubry commented on #118
Yes, you can change the `backgroundColor` property on the item manager before presenting the bulletin. Let me know if it works for your case.

[2018-10-11 05:53] MDub329 commented on #118
works perfect.  Thanks!

[2018-10-11 05:53] #118 closed

[2018-10-11 16:03] reggatta opened #125 "iPad Does not Dismiss View"
**Problem Description: When I present the popup on an iPad I can't close it.

**Steps to reproduce: Run the app on an iPad and present a page.  There is no way to close the page.  I have isDismissable set to TRUE.  It may be something dumb I am doing, not sure.

**Environment:
 - Device: Any iPad including the simulator
 - OS: 12.X
 - Version of BulletinBoard: Latest
[bulletin.pxd.zip](https://git

[2018-10-12 02:57] timroesner commented on #113
I would love to investigate this issue. Could you paste your code how you initialize the manager and the rootItem?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-12 07:17] powerofpercy commented on #113
Here's how it's initialised:
[code]

And here is how I presented it:
[code]

[2018-10-13 10:43] MEnnabah commented on #62
@alexaubry is there a way to set a dismissal handler on the `BLTNItemManager` itself, so it get called when the `bulletinController` is dismissed?
It would be helpful to do some task only once with bulletinController, instead handling each case with each item..

Thank you

[2018-10-14 16:33] gesabo commented on #97
Any update on compatibility with Xcode 10, Swift 4.2?  I'd like to check out this lib but can't as I'm seeing "no such module BLTNBoard" compiler error.

[2018-10-17 08:30] frasza opened #126 "Notifications Authorization item"
Hey,

I have a question regarding asking user for notification authorization.
I have been using BulletinBoard for onboarding and it is awesome! Now there I would also like to include notifications authorization but I cannot find the way how to apply it to BLTNPageItem. What I mean is that UNUserNotificationCenter has its own requestAuthorization method and I wonder, is it possible to 'customize' t

[2018-10-17 09:09] alexaubry commented on #124
This is not a common use case, as far as I understand. Is there anything specific you want to achieve that would require the user to not easily see the status bar?

One option could be to set the `backgroundViewStyle` to `blurred(style: UIBlurEffectStyle.dark, isDark: false)` on the manager to force the dark status bar; though this is not a recommended approach because the contrast wouldn't be eno

[2018-10-17 09:14] alexaubry commented on #90
@jose46moreno I will close this issue for now. If you have another build issue, feel free to reopen another issue 😃

[2018-10-17 09:14] #90 closed

[2018-10-17 10:08] alexaubry commented on #126
Hey! There is no way to change the interface that the user notification center presents for permission request, if that's what you're asking.

Though, you could create a bulletin page item that lets the user know why they need to enable notifications as part of the onboarding flow. On that page, use the action button callback to call the `UNUserNotificationCenter` method to request authorization,

[2018-10-17 10:14] alexaubry commented on #125
Hey! On iPad you can tap outside of the view to dismiss the bulletin (there is no "swipe to dismiss"). Can you do this?

If not, could you share the code you use to setup the item so we can figure it out?

[2018-10-17 10:16] alexaubry commented on #123
Hi! Could you share this information so I can help:

- What dependency manager you use (CocoaPods / Carthage / manual)
- What version of the framework you use (2.0.2 is the only one that can be used with Xcode 10)

Thanks!

[2018-10-17 12:07] alexaubry commented on #57
I will close this issue for now. Please feel free to create a new ticket if you still encounter a problem.

[2018-10-17 12:07] #57 closed

[2018-10-17 12:11] alexaubry commented on #84
Hey, sorry for the late reply. This happens because iOS reuses the cells when you scroll. That means that it wont initialize a new cell object for each item, but rather repurposes a cell that is became off-screen. This is why you see old data.

You should re-create the bulletin manager in `prepareForReuse` method to fix this issue. Let me know if you still need help.

[2018-10-17 13:08] marcoistasy commented on #108
Hello, I am actually talking about the navigation bar, not the status bar. Would the solution be the same?

[2018-10-17 13:13] frasza commented on #126
I see! Thank you very much for your detailed answer :)

[2018-10-17 15:06] reggatta commented on #125
Alexis:

Thanks for your interest.  I was not able to dismiss the view no matter what I did.  At first I thought it was just an iPad thing as it seemed to work fine on the phone, but then it got worse somehow.

I stepped through the code and it looked like the manager variable was getting set to nil somehow, so when the code tried to dismiss the view, it could not.  I changed a line of code in you

[2018-10-17 19:13] ServusJon commented on #124
Thanks! I will just go with the blurred bar :-)

[2018-10-17 19:13] #124 closed

[2018-10-17 19:19] ServusJon opened #127 "How to find out which page is currently displayed from a VC"
Hey,

I struggling to find out what is the current page, when the app is closed and opened again. Is there a way to do that in the VC?

Also, how can I check if the bulletinManager is open or not?

Thank you :)

[2018-10-18 04:42] ServusJon commented on #83
please do a pull request @arvidurs :-)

[2018-10-18 05:36] ServusJon opened #128 "Change alignment of Title"
It would awesome if you could make the alignment of the title editable (left, center, right)

[2018-10-24 15:12] venom889 opened #129 "UI Freezes after swiping bulletin and tapping close button"
**Problem Description:**
Tapping on the close button after swiping upwards on the bulletin causes the UI to freeze. I believe this is an issue with the interactive pan gesture and the `dismissBulletin` method called by the close button.

**Steps to reproduce:**
1. Display a bulletin with `requiresCloseButton = true`.
2. Pan the bulletin controller upwards using the gesture. This is tricky but you

[2018-10-29 06:34] ServusJon commented on #127
anyone?

[2018-10-30 14:58] arkader opened #130 "Accessibility - Dynamic Type"
**Problem Description:**
When dynamic type is enabled in Settings -> General -> Accessibility -> Larger Text
the font size of the title, description, buttons are not increased.
**Steps to reproduce:**
It happens on any BulletinBoard item

**Environment:**
 - Device: all
 - OS: iOS 11 / iOS 12
 - Version of BulletinBoard: [2.0.2]

[2018-11-01 12:13] L3K0V commented on #117
I'm interested also in such a functionality. @timroesner did you find some workaround?

[2018-11-09 11:11] ddaddy commented on #129
I'm experiencing this issue too, but it's much simpler to replicate.

I'm launching a simple bulletin with this code:
[code]

When it shows, if you swipe upwards on the bulletin the whole app freezes because the bulletin can no longer be dismissed. Tapping outside the bulletin does nothing as does the X close button.

[2018-11-09 11:30] ddaddy commented on #129
I've found a way to stop this happening. If you set `self.bulletinManager.allowsSwipeInteraction = NO;` then it stop the bulletin moving if the user tries to swipe it upwards and the close button still works.

[2018-11-09 12:21] a2 commented on #129
I will look into this issue over the weekend. This is definitely affecting users in production and we want to solve this ASAP.

[2018-11-10 16:05] a2 commented on #129
Hi folks, I made a branch [here](
https://github.com/alexaubry/BulletinBoard/tree/fix/frozen-dismissal) with a potential fix. Can you verify in your own projects that the `fix/frozen-dismissal` branch fixes the issue? If so, I'll merge that into master and tag a new release.

---

You can configure your Podfile like this to test the branch:

[code]

Or your Cartfile like this:

[code]

[2018-11-12 09:50] #129 closed

[2018-11-15 23:28] Mindkind-Dev opened #134 "Presenting & Instantiate VC"
Hi,

it could be very interesting to be able to instantiate a VC instead of presenting above when having BLTN Pages in separate files.

**Situation:**
Actually im building an app that scan for BLE peripherals, then connect to it. The initial page is the scanning page, then once discovered a bulletin page appear asking if the user want to connect. If yes the connection is established and the mainAp

[2018-11-19 22:55] yarodevuci commented on #123
I have error compiling on Swift 4.2 @alexaubry Please advise

[2018-11-20 14:37] hell4opt opened #135 "many erros when compiled swift 4.2"
:(

[2018-11-23 14:06] funkenstrahlen commented on #135
Checkout the current master branch. Not released yet but does support swift 4.2

[2018-11-23 16:36] hell4opt commented on #135
master = default... :(

[2018-11-23 16:40] #135 closed

[2018-12-17 12:44] alombard commented on #123
Hi @alexaubry - first off great work - love the framework.

I can confirm what @yarodevuci is seeing.

I'm using cocoapods on 2.0.2 and this is the only framework left of all that I use that seems to have this deprecation warning:

![image](https://user-images.githubusercontent.com/10245151/50087840-5f492d00-01cf-11e9-8fdb-03f9e5040d1b.png)

I've tried running this through the conversion tooling i

[2018-12-17 13:33] alexaubry commented on #123
This has been fixed in the latest release. You can all update the library to 3.0 in your Podfile for full support of Swift 4.2 😄

[2018-12-17 13:36] alexaubry commented on #104
@ajchili Thanks for your interest! The issue here is that we renamed a property but the comments were not updated to reflect that.

If you want to fix this, you can go in each file that @a2 mentioned, and replace 'InterfaceBuilderType' by 'interfaceBuilderType' in the comments. Make sure to follow the [contributions guide](https://github.com/alexaubry/BulletinBoard/blob/master/CONTRIBUTING.md) to

[2018-12-17 13:36] alexaubry commented on #97
v3.0 shipped today with full support of Xcode 10 and Swift 4.2. Thank you for your patience.

[2018-12-17 13:36] #97 closed

[2018-12-17 13:37] #123 closed

[2018-12-17 13:39] alexaubry commented on #127
@ServusJon In v3, you can check if the `isShowingBulletin` property on the manager to check if it's already presented. There is currently no way to check which page is active though, that's something we can think about for the future.

[2018-12-17 13:39] alexaubry commented on #83
The `isShowingBulletin` property was added in v3. Thanks for the suggestion!

[2018-12-17 13:39] #83 closed

[2018-12-17 13:40] alexaubry commented on #119
Can you check if it still applies to the current README? Multiple changes were made to it recently to try to keep it up to date.

[2018-12-17 13:42] alexaubry commented on #106
Hi! It seems to be correct from what you're telling me 😄 Feel free to reopen an issue if you encounter any problem with that setup.

[2018-12-17 13:42] #106 closed

[2018-12-17 16:36] alexaubry commented on #43
Thank you folks for your input! I think this repository should focus on the core parts of the framework. The right approach would be to have a separate repository for the bridge, if someone wants to work on it. I'm closing this issue for now, let me know if someone decides to implement this!

[2018-12-17 16:36] #43 closed

[2018-12-17 16:40] alexaubry commented on #88
If you use the `BLTNPageItem`, you can access the `image` property and change the image from there.

[2018-12-17 16:51] alexaubry commented on #93
I tried to reproduce it, but it seems to work fine. This is the code I used: https://gist.github.com/alexaubry/173f9abd92af9e782a95d1366bf52cd1

[2018-12-17 16:52] alexaubry commented on #93
Please reopen this if this is still an issue.

[2018-12-17 16:52] #93 closed

[2018-12-17 16:53] alexaubry commented on #84
Closing this issue for now, please reopen if you still need help.

[2018-12-17 16:53] #84 closed

[2018-12-17 16:54] petritz commented on #93
I think I did not specify a height so it got 0

[2018-12-17 22:56] alombard commented on #123
Awesome - Thanks!

________________________________
From: Alexis Aubry <notifications@github.com>
Sent: Monday, December 17, 2018 8:37:13 AM
To: alexaubry/BulletinBoard
Cc: Andrew Lombard; Comment
Subject: Re: [alexaubry/BulletinBoard] Pod库 swift4.2报错 (#123)

Closed #123<https://github.com/alexaubry/BulletinBoard/issues/123>.

―
You are receiving this because you commented.
Reply to this email dir

[2018-12-18 00:10] ajchili commented on #104
@alexaubry Thanks for the helpful feedback/advice! I'll submit a PR asap.

[2018-12-23 02:44] bizibizi opened #137 "actionHandler does not called"
static func passwordPage() -> BLTNPageItem {
        let page = BLTNPageItem(title: "Create password")
        page.next = donePage()
        page.actionHandler = { (item: BLTNPageItem) in
            item.manager?.displayNextItem()
            } as? (BLTNActionItem) -> Void
        return page
    }

    static func welcomePage() -> BLTNPageItem {
        let page = BLTNPageItem(title: "Welcome t

[2018-12-23 03:15] #137 closed

[2018-12-25 07:00] alexaubry commented on #104
Fixed in #138.

[2018-12-25 07:00] #104 closed

[2018-12-28 12:20] arshia1382 opened #139 "cuithemeStore no theme registerd"
Every time I build my app it gives me these issues: cuithemeStore no theme registerd and BulletinViewController is not managed
Please help.

[2018-12-29 12:46] #139 closed

[2019-01-06 18:14] BaranBerk opened #140 "BLTNItemManageranimated Crash"
**Problem Description:**
Hello we are getting crash reports, can anybody help

BLTNItemManager.swift line 629
BLTNItemManageranimated(_:)

Crashed: com.apple.main-thread
EXC_BREAKPOINT 0x00000001046dc150

**Steps to reproduce:**
I cannot reproduce it
Here is how I call it:
[code]
**Environment:**
 - iOS 12
**Crash Log**
Crashed: com.apple.main-thread
0  BLTNBoard                      0x1046dc150 B

[2019-01-06 22:14] alexaubry commented on #140
Hello! Could you let me know what version of the library you’re using?

It seems from the stack that the user might have VoiceOver enabled. Can you try to reproduce the crash in this setting?

[2019-01-13 18:12] bizibizi opened #141 "Does not work well with 2 UIWindow"
https://imgur.com/a/s5jykn0

[2019-01-14 03:30] bizibizi commented on #141
Yes - show banner after tutorial is better

[2019-01-15 04:08] reggatta commented on #125
Alexis:

I just updated all my pods, and the code I had added to fix this original problem was overwritten, so I had to dig through your code and make some changes again.  Please know that I am calling your code from Objective-C.  I have attached an updated version of your BulletinViewController.swift with my two changes.  Just search the file for REGGATTA, and you’ll see the changes I made.  I am

[2019-01-23 11:56] docash59 opened #142 "Buttons on Bulletin do not work"
**Problem Description:**
The action buttons/handlers do not work.

**Steps to reproduce:**
1. Install via Pods
2. `@import BLTNBoard`
3.
[code]
4. Launch the app
5. Tap `Allow` on the `BulletinBoard`
6. Nothing happens. Tapping the ( X ) in the top right doesn't commit any action either.

**Environment:**
 - Device: iPhone X
 - OS: iOS 12.1.x
 - Version of BulletinBoard: 3.0.0

[2019-01-31 18:45] Fried-Chicken opened #144 "Question: Is it possible to control the background blur amount"
Hey @alexaubry

Just a quick question. Is it possible to control the background blur amount?

Thanks

Fried Chicken

[2019-02-04 20:53] glisom commented on #92
Is this still something you need help looking into @alexaubry? Would love to take a crack at it.

[2019-02-05 13:56] eliburke commented on #92
@glisom I've never had a chance to try and tackle it, but if you start something I'd be happy to assist / test / review.

[2019-02-06 21:21] Fried-Chicken commented on #144
Closing due to inactivity

[2019-02-06 21:21] #144 closed

[2019-02-11 12:24] soareseneves commented on #142
This issue happens to me just sometimes, not yet sure why. I am using carthage btw.

[2019-02-12 04:11] AveryVine commented on #142
Same for me - tapping the ( X ) does nothing, same with the other buttons. It looks like the `BLTNItemManager` is `nil` at the moment the ( X ) is being pressed.

[2019-02-12 05:45] alexaubry commented on #142
It is a common error for people who use the library: you need to retain the manager as a property, usually on the view controller that presents it.

[2019-02-17 06:33] artisanglobal commented on #142
Another possibility... If you are overriding the `setUp` method, make sure you call `super.setUp()` or `[super setUp]`. This is where the action button gets wired up and if you forget to call the super method it doesn't work.

[2019-02-20 00:28] davidvjc opened #145 "How do I show a specific page/BLTNItem on demand?"
**Problem Description:**
How do I show a specific page/BLTNItem on demand?

**Steps to reproduce:**
Say I have a selection of 5 bulletins (created like in the documentation), and on press of a button I only want to show bulletin #4

Currently I'm using:
`bulletinManager.showBulletin(above: self, animated: true)
`
`let fourthItem: BLTNItem = makeFourthPage()
`
`bulletinManager.push(item: fourthItem

[2019-02-20 13:30] yusuftor opened #146 "How to hide status bar?"
In previous answers it's suggested to use `bulletinManager.statusBarAppearance = .hidden`, but there doesn't seem to be a way to do that now? How should I do this?

[2019-02-20 17:45] #146 closed

[2019-02-21 12:17] docash59 commented on #142
Understood thank you. Have tried again and the `BLTNBoard` now works, thank you!

[2019-02-22 16:46] yusuftor opened #147 "Optional completion block for dismissal?"
I need to know when the bulletinManager has completed dismissal of the bulletin, however, there doesn't seem to be a way to do this. Could someone add it in so we can have:

    bulletinManager?.dismissBulletin(animated: true) {
       // completion block
    }
Thanks!

[2019-02-25 13:55] yusuftor opened #148 "Calling dismissBulletin causes crashes"
**Problem Description:**
If I call `bulletinManager.dismissBulletin(animated: true)` when the bulletin has already been dismissed, it crashes saying `BLTNItemManager must only be used from the main thread.` If the `dismissBulletin()` function is called immediately after the manager has been dismissed, `bulletinManager.isShowingBulletin` is still `true`. There needs to be a check like "if the manag

[2019-02-26 22:32] diegogarciar commented on #113
I noticed that there is tap gesture recognized in the whole page, and that selector calls `dismissIfPossible()`, which eventually calls `dismissBulletin()` setting `isPrepared = false`. Then the close button selector kicks in and calls dismissBulletin() again, failing the `assertIsPrepared` condition

[2019-02-26 22:49] diegogarciar commented on #113
As your current implementation, for the `closeButton` to show, you are requiring that
`isDismissable = true && requiresCloseButton = true`, so for this implementation I will suggest to simply remove the target for the close button, as it will close either way as it is pressing inside the page. Removing the following line in BulletinViewController will fix it
`closeButton.addTarget(self, action: #s

[2019-03-25 03:16] bizibizi opened #150 "iOS 8 support"
can you make it available since iOS 8? It requires only 2 lines to change in the code

[2019-03-25 11:23] alexaubry commented on #150
Hello, thanks for your suggestion. I don't have any way to test it, so I'm not really inclined to adding iOS 8 support.

[2019-03-25 11:23] #150 closed

[2019-03-25 15:41] bizibizi commented on #150
can i send you a pull request?

[2019-03-30 05:14] iWeslie opened #151 "Xcode 10.2 do not support Swift 3.0 as the framework lowest version"
<img width="558" alt="Screen Shot 2019-03-30 at 1 11 12 PM" src="https://user-images.githubusercontent.com/12584632/55271760-4df2df00-52ed-11e9-9b60-9246ef23dc77.png">

I think something is wrong here.
And I should change Swift version manually

Showing All Messages
:-1: SWIFT_VERSION '3.0' is unsupported, supported versions are: 4.0, 4.2, 5.0. (in target 'BulletinBoard')

[2019-04-07 16:56] omarmhaimdat opened #152 "UIView disappear when I trigger the BLT"
**Problem Description:**

When I trigger the bulletin Board it works perfectly, but when I dismiss it with either the dismiss button or the alternativeHandler it doesn't show up

**Steps to reproduce:**

I did override makeViewsUnderDescription() to create the UIView with three buttons, then I instantiate a BLTNPageItem with a BLTNItemManager.

**Environment:**
 - Device: [e.g. iPhone X]
 - OS: [e

[2019-04-07 17:36] #152 closed

[2019-04-07 17:36] omarmhaimdat commented on #152
It was just a problem of constraint not set

[2019-04-10 12:28] yusuftor opened #153 "Update for Swift 5"
Can this project be updated for swift 5 please?

[2019-04-10 15:14] alexaubry commented on #153
I don’t have the time to work on it at this moment. I’d appreciate if you could make a PR if you have time.

[2019-04-12 09:48] ttoni opened #154 "ActionButton dismiss problems: Attempt to present <> which is already presenting (null)"
**Problem Description:**
Warning: Attempt to present <BLTNBoard.BulletinViewController: 0x12a041e00>  on <XYZ: 0x12a931600> which is already presenting (null)

**Steps to reproduce:**
Dismissing by action button randomly triggers this warning and is not closing the dialog

**Environment:**
 - Device: iPhone 7+
 - OS: 12.2
 - Version of BulletinBoard: 3.0

[2019-04-12 11:33] #154 closed

[2019-04-12 12:32] NiroTheHero commented on #106
pretty old, but ill try anyway :)
Hi @grey280, would your solution for costume buttons lets you also costume the design of the buttons (e.g adjusting rounded corners, shadow etc etc)??

thanks

[2019-04-12 17:18] grey280 commented on #106
@NiroTheHero yeah, since I'm creating the button from scratch (or rather, in my implementation, I'm using `interfaceBuilder.makeActionButton`) it's available in code as a customizable view; I haven't actually done any visual customization in there, but it's certainly possible!

[2019-04-14 14:26] adougies commented on #117
Firstly add this into your class somewhere

[code]

Create your func where you redefine the root item

[code]

After this, if you need to push a board you use the normal function with a new BLTNPageItem:

[code]

**Usage**
[code]

[2019-04-19 04:37] pratik-toptal commented on #153
If this PR looks good, then can we merge it?

[2019-05-02 12:18] ddaddy opened #157 "Property cannot be found in forward class object"
I have BulletinBoard 3.0.0 installed through Carthage and it was working fine in my project, however now I keep getting compiler warnings. I'm not sure if it's an updated version of Xcode causing this.

I'm using Objective-C.
If I open the workspace and build the framework then copy it to my project it works fine, so it seems to be a Carthage build issue.

<img width="1115" alt="Screenshot 2019-05

[2019-05-02 12:58] ddaddy commented on #157
Ok, if anyone else has this issue, you need to update Carthage to 0.33.0 and run `carthage update`

[2019-05-02 12:58] #157 closed

[2019-05-21 09:19] arkader commented on #151
Any news about that issue?

[2019-05-22 15:25] n3d1117 commented on #150
@bizibizi I'd be interested in iOS 8 support. Could you open a pull request or post the code changes needed here? Thanks

[2019-06-15 12:25] adougies commented on #145
See my answer here on another issue: [https://github.com/alexaubry/BulletinBoard/issues/117](https://github.com/alexaubry/BulletinBoard/issues/117)

[2019-07-04 21:25] rlindsey2 commented on #142
Can you expand on what you mean by "you need to retain the manager as a property, usually on the view controller that presents it."? Can you give some example code. I've tried doing the following on the presenting viewcontroller but that doesn't fix it. Not sure how else to do it?
lazy var bulletinManager: BLTNItemManager = {
        let introPage = BulletinDataSource.makeIntroPage()
        let m

[2019-07-04 22:02] rlindsey2 commented on #142
Follow on from the above comment, this is the code of the root item:
static func makeIntroPage() -> BLTNPageItem {

        let page = BLTNPageItem(title: "Boost your creativity and improve your writing ability")
        page.appearance.titleTextColor = UIColor(red: 34/256, green: 34/256, blue: 34/256, alpha: 1)
        page.appearance.titleFontSize = 25
        page.descriptionText = "Daily Promp

[2019-07-06 15:05] marekpridal opened #158 "Add Swift Package Manager support"
Swift PM is officially supported in Xcode 11 so it would be great if BulletinBoard supports it 🙂

[2019-07-17 09:32] psarakism opened #159 "Localizable.strings conflict"
It seems that library's Localizable.strings conflicts with project's same file. The issue appeared when I tried to archive and sent an app version through Fabric. App seems to use the library's file with effect to show only localizable keys and not translations. Pasting my translations to library's file resolved the issue. In addition because app uses libary's Localizable files , language fallback

[2019-07-21 11:06] alexaubry commented on #158
I think it would be nice too! Unfortunately I don't think it supports embedding resources yet, so that will be tricky to support it since we need some images and strings.

[2019-07-21 15:04] #153 closed

[2019-07-21 15:16] alexaubry commented on #151
Can you try with v4.0.0?

[2019-07-21 15:17] alexaubry commented on #153
v4.0.0 should support Swift 5 now.

[2019-07-23 15:25] diegogarciar opened #160 "App crashing when dismissing on main thread"
**Problem Description:**
I haven't reproduced the issue myself, but Crashlytics is throwing me the following error:
#0 Crashed: com.apple.main-thread
EXC_BREAKPOINT 0x0000000103446a50

Logs are:
#0. Crashed: com.apple.main-thread
0  BLTNBoard                      0x103446a50 BLTNItemManager.dismissBulletin(animated:) + 672 (BLTNItemManager.swift:672)
1  TripLoop                       0x102722d38 @

[2019-08-01 01:57] DK-Web opened #161 "Font color title and description"
Hi, first of all thank you for your great framework! Since I want to set the background to black, I'm looking for a way to change the text color (Title & Description) to white. Is that possible?

[2019-08-01 02:44] DK-Web opened #162 "UITextfield > PasswordField - secureTextEntry"
Hi, can you please install the possibility that you can use textfields as password fields?

Only this parameter is missing:
texfield.secureTextEntry = true

Thanks a lot!

[2019-08-01 03:32] DK-Web opened #163 "Alternativ Button Color"
Hi,
is there a way to change the text color of the alternative button?

Thanks and best regards

[2019-08-01 22:38] eliburke commented on #163
If you are using stock controls (e.g. setting alternativeButtonTitle, alternativeButtonHandler) you can modify BLTNItemAppearance in the BLTNPageItem constructor
````self.appearance.alternativeButtonTitleColor = UIColor.purple````

or you can do it in the presentation handler block:
[code]

If you are using makeViewsUnderDescription or one of the other customization points, you can directly modify

[2019-08-01 22:41] eliburke commented on #162
You can do this yourself.

 I don't know how you are adding your text field, but if you are calling _BLTNInterfaceBuilder.makeTextField()_ it returns the text field for direct access.

[2019-08-01 23:19] eliburke commented on #161
See my comment on #163 about using BLTNItemAppearance

[2019-08-01 23:50] DK-Web commented on #163
Thanks a lot! I was looking for it, but I'm still pretty new to app development, so I could not find the solution myself.

[2019-08-01 23:50] #163 closed

[2019-08-01 23:51] DK-Web commented on #161
Thanks a lot!

[2019-08-01 23:51] #161 closed

[2019-08-01 23:59] DK-Web commented on #162
Hi, thank you! I did not know that I could use the textfield. With this change everything works perfectly. Thank you for your quick help!

`textField = interfaceBuilder.makeTextField(placeholder: "Password", returnKey: .done, delegate: self)
textField.isSecureTextEntry = true`

[2019-08-01 23:59] #162 closed

[2019-08-02 03:58] DK-Web commented on #154
I have the same issue. I use one Bulletinboard on first App start (works fine) and if this board is closed and i opened a second one for in app purchase first page presented, but all buttons are dead. Any idea? Thx 😊✌️

[2019-08-02 04:09] DK-Web opened #164 "Open second Bulletinboard warning"
**Problem Description:**

I have the same issue like #154. I use one Bulletinboard on first App start (works fine) and if this board is closed and i opened a second one for in app purchase first page presented, but all buttons are dead with same warning in the console. Any idea? Thx 😊✌️

**Steps to reproduce:**

**Environment:**
 - Device: iPhone 7
 - OS: iOS 12.3.1
 - Version of BulletinBoard: la

[2019-08-02 21:06] #164 closed

[2019-08-07 23:37] anonrig commented on #101
@a2 can you give an example? I'm having trouble making the descriptionLabel numberOfLines = 0.

[2019-08-08 22:34] anonrig commented on #101
My issue was related to an extension I was using for UILabel. It was overriding the draw function and it was causing multiline uilabel issue.

[2019-08-09 16:28] a2 commented on #101
@anonrig Upon a more close inspection, it seems that `descriptionLabel.numberOfLines` is already 0 [(ref)](https://github.com/alexaubry/BulletinBoard/blob/01c753352d329f38dd9a5c5cce114aa3d5d8b749/Sources/Appearance/BLTNInterfaceBuilder.swift#L59).

[2019-08-18 15:03] eliburke commented on #103
#165 resolves this issue with a particular design pattern. When a page pushes another page, it can optionally pass a reference to itself, indicating that it is the "root" (though it may not actually be the actual root Page of the Page stack).

When pushing a single page, a simple boolean variable *could* be used to accomplish the same task (if shouldPop, pop, else dismissBulletin). But, such a sol

[2019-08-26 04:49] iWeslie commented on #158
As mentions in WWDC19 [session 410](https://developer.apple.com/videos/play/wwdc2019/410/?time=1780), SPM will soon support resources. So, when this [proposal](https://forums.swift.org/t/swift-pm-bundles-and-resources/13981/23) is adapted, we will be glad if you can add SPM support.

[2019-09-05 01:36] iWeslie commented on #158
And, I think there is another option. `UIImage(systemNamed: "xmark")` to generate a x mark image from iOS 13 new API with SFSymbols. This may be a good way to remove unnecessary resources in BLTN.@alexaubry

[2019-09-05 01:47] iWeslie commented on #158
Or use `UIGraphicsGetCurrentContext` in iOS12 and lower

[2019-09-20 18:38] svastven opened #167 "Picker rows disappear when scrolling"
When I try to scroll through my picker which is under the title all the rows disappear. I have searched for this issue and I have found (not here) that the issue is connected with the view that contains the picker.

Are there any solutions?

my code:

`import BLTNBoard

class PickerBLTNItem<T: Pickable>: BLTNPageItem, UIPickerViewDataSource, UIPickerViewDelegate {
    lazy var picker: UIPickerView

[2019-09-20 18:47] omarmhaimdat commented on #167
same problem

[2019-09-20 18:52] omarmhaimdat commented on #167
My problem came from dark mode in iOS 13

[2019-09-20 19:01] svastven commented on #167
I am implementing an app supporting iOS 11 and higher and have not tried dark mode

[2019-09-21 17:00] DK-Web opened #168 "IOS 13 Dark Mode"
Hi, thank you for your great BulletinBoard. Unfortunately, this is broken in IOS 13 in Darkmode, since e.g. the date picker is no longer visible, because the background of the bulletin board is not set by .systemBackground (white on white) Can you look at this please? Maybe you can set the backgrounds via .systemBackground and the font by .label.
Thank you and best regards

[2019-09-24 20:53] DK-Web commented on #168
@alexaubry please we need a bugfix! Thx

[2019-09-25 07:01] alexaubry commented on #168
Hey! I don’t have the bandwidth to look into this at the moment. If you have a fix, feel free to submit a PR :)

[2019-09-25 21:04] alombard opened #169 "CoreUI: RunTimeThemeRefForBundleIdentifierAndName() couldn't find Assets.car in bundle with identifier: 'org.cocoapods.BLTNBoard'"
When running on a physical device using Xcode 11 and iOS 13 I experience the following Error:

RunTimeThemeRefForBundleIdentifierAndName() couldn't find Assets.car in bundle with identifier: 'org.cocoapods.BLTNBoard'

It has the effect of not crashing the app but no Boards show.

Steps to repro:
Add the pod to the project.  Open using Xcode 11 and run on a physical device using IOS 13.

**Environm

[2019-09-26 11:13] yusuftor commented on #169
I get the same warning! Except my boards still show.

[2019-09-26 13:12] alombard commented on #169
Thanks @yusuftor - I'm suspicious that this is my bug then.  I'm going to take another look and confirm - this error may be a red herring.

[2019-09-26 20:00] AveryVine commented on #169
Getting the exact same thing, error and no boards

[2019-09-27 12:31] alombard commented on #169
Hi everyone - after close inspection this was a bug in my onboarding code and not an issue with the framework or the integration.

Thanks!

Cheers,

Andrew

[2019-09-27 12:31] #169 closed

[2019-09-30 12:39] chrisDeft commented on #168
You can set the backgroundColor property of the BLTN Item Manager to systemBackground - as long as you do this before showing a bulletin it seems to work fine in dark mode.

[2019-09-30 17:39] aaronbrethorst commented on #168
I'm working on this.

[2019-09-30 19:05] DK-Web commented on #168
Hi chrisDeft, a good note thank you!
I solved the problem with
`bulletinManager.backgroundColor = .systemBackground`

I could also change the font color of the pages like this:
[code]

[2019-09-30 19:06] DK-Web commented on #168
Hi aaronbrethorst, thank you for working on it! Best regards

[2019-10-01 13:03] Danny-SS commented on #168
Thanks @aaronbrethorst! hoping this gets merged

[2019-10-03 12:55] #168 closed

[2019-10-07 16:02] diegogarciar commented on #160
Hi, just realized I was trying to show the bulletin right after dismissing it.

[2019-10-07 16:02] #160 closed

[2019-10-15 10:41] leetal opened #171 "Action buttons not updating their color on Dark mode toggle"
**Problem Description:**
The action buttons do not update their background colors when dark mode is toggled.
This is caused by the fact that the background color is in fact an image and thus it will not respond to the dynamic nature of UIColor's traitcollection-change callback.

**Steps to reproduce:**
Have a bulletin present on screen and toggle dark mode. The background color won't change to the

[2019-10-28 09:34] Piidro opened #172 "Layout broken on iPad, app running in Split view"
**Problem Description:**
Hello, seems that this library doesn't work when bulletin is opened when app is not taking 100% of the screen. When running in any split view combinations (1/4, 2/4, 3/4 or 1/3, 2/3 of the screen widths) the bulletin view is displayed as it would take the whole screen estate, therefore part of it is hidden. I have tried both `showBulletin(above:animated:completion:)` or `s

[2019-11-05 00:46] arguiot commented on #172
I also have this problem @alexaubry could you have a look, please?

[2020-02-07 07:52] Piidro commented on #172
I think I managed to fix this issue. I opened up a PR #173 with the fix. I don't know if it is the correct way to go though but you who are interested on the subject can take a look!

[2020-02-07 12:29] arguiot commented on #172
Great, I’ll take a look and try to install it in my app to see if the issue is fixed.

[2020-02-12 14:43] eliburke opened #174 "Dark mode support cannot be overridden at runtime"
**Problem Description:**
#170 added Dark Mode support in a simplistic manner: If running on iOS 13, use whatever color is provided by the operating system for the Dynamic Color `systemBackground`

If an App opts out of Dark Mode support by setting User Interface Style to .light in Info.plist, the dynamic colors match the old behavior. But it is also valid to honor Dark Mode and [opt out for indivi

[2020-05-14 22:46] alexaubry commented on #172
The fix was released in 4.1.1, thanks for your patience.

[2020-05-14 22:46] #172 closed

[2020-05-28 18:53] nathanhleung commented on #158
Looks like the proposal landed in Swift 5.3! https://github.com/apple/swift-evolution/blob/master/proposals/0271-package-manager-resources.md

[2020-06-01 14:41] alexaubry commented on #158
I added a branch with SPM support: `feature/spm-support`. Can one of you please try it and let me know if something breaks?

[2020-06-03 18:29] robergro commented on #158
Hey @alexaubry,
Thank you for adding SPM on your project :)
With this new version (SPM installation), we no longer have access to the "appearance" variable on BLTNPageItem class.
Is this normal?

[2020-06-04 13:19] alexaubry commented on #158
@robergro It should still be there, could you send the error from Xcode so I can have a look?

[2020-06-04 13:26] robergro commented on #158
Of course, here it is !

<img width="1363" alt="Capture d’écran 2020-06-04 à 15 23 20" src="https://user-images.githubusercontent.com/6044208/83762130-7a378780-a677-11ea-9bb0-b12012275a47.png">

[2020-06-04 18:54] alexaubry commented on #158
@robergro It should be fixed now, thanks for reporting! There were some issues with importing Objective-C from the package.

[2020-06-09 09:07] StainlessStlRat opened #179 "How to set background color?"
Love the library, perhaps I'm missing something. But is there a way to set the color of the background view for a page?

[2020-06-12 02:04] mo3bius commented on #128
Will this feature be added?

[2020-06-15 20:51] diegogarciar opened #180 "UIKitCore con < iOS 11"
**Problem Description:**
Hello, a user has iOS 11 and app is crashing on

[code]
with an error of

 It seems you're force unwrapping `Bundle(identifier: "com.apple.UIKitCore")!` at Bundle.UIKitCore but it's not available on older OS? Anyway, a simple optional might be enough.

**Steps to reproduce:**
present any bulletin using an older iOS version

**Environment:**
 - Device: iPhone 5 and 8
 - OS:

[2020-06-15 20:52] diegogarciar commented on #180
I see there's already a pull request for this fix, We can close this issue when it goes to master

[2020-07-31 18:56] sasquatchgit commented on #147
Can we please have this?
@yusuftor how did you make it work? Is there a workaround?

[2020-08-04 18:01] gesabo opened #181 "4.1.1 and 4.1.2 Blurview is clipped at the bottom of iPhone running iOS 13.6"
I noticed that when using a blurred background the bottom of the iPhone screen below the BulletinBoard that had previously been blurred is now "exposed" showing whatever is underneath the BulletinBoard.  I'm not sure why but I rolled back to 4.1.0 and it's displaying correctly, some change between 4.1.0 and 4.1.1 relating to the blurred background must be the cause?

iPhone 11 running iOS 13.6
BB

[2020-08-07 20:36] kenzinn commented on #181
Hi. I ran into this issue as well. It happens when using `showBulletin(above:animated:completion:)` and the presenting ViewController is smaller than the window. (For example, if it is being presented modally as a page sheet which, starting in iOS 13, uses card-like look rather than full-screen.)

Looks like it has to do with this fix ( #173 ) in 4.1.1. that fixed an issue with iPad presentations

[2020-08-08 10:58] Piidro commented on #181
Hey @kenzinn I am responsible for that PR which probably introduced this issue. I have witnessed this issue couple times myself also and my solution was also to just use the `showBulletin(in:animated:completion)` -version. I am not speaking on behalf of the people maintaining this library but I think that you could just fire away a PR if you think it will solve the issue. Then we will know.

[2020-08-09 09:37] ddaddy opened #182 "Xcode 12 - Double-quoted include in framework header, expecting angle-bracketed instead"
Xcode 12 enabled the compiler setting `CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER` which starts throwing up warnings.

<img width="1067" alt="Screenshot 2020-08-09 at 10 35 44" src="https://user-images.githubusercontent.com/1425808/89729293-1c833b00-da2c-11ea-98dc-bc023b0236b2.png">

**Steps to reproduce:**
Use Xcode 12 to update project. Return back to Xcode 11 and warnings are still visible.

[2020-08-14 22:54] kenzinn commented on #181
Hey @Piidro, thank you for the PR which fixed the iPad split screen issue.

I've created a PR (#183) to fix this one. If it's not found useful, no worries. Thank you all.

[2020-08-23 10:33] MHX792 opened #184 "iPad: do not show centered on the screen but on the bottom"
Or enable to set the position on the screen. Would be great!

[2020-08-27 15:26] MHX792 opened #185 "Add an option for manually setting dark mode on/off"
e.g., this might be useful if a theme offers a manual theme setting.

[2020-08-31 12:51] BigDada1 opened #186 "Swift Compiler Warning: Cannot match several associated values at once"
**Problem Description:**
In [`BulletinBackgroundView`, L86](https://github.com/alexaubry/BulletinBoard/blob/5c28acbfc85328e5963f1f50d0399fac7829d457/Sources/Support/Views/Internal/BulletinBackgroundView.swift#L86) Xcode shows me a warning: _»Cannot match several associated values at once, implicitly tupling the associated values and trying to match that instead«_

**Steps to reproduce:**
- Checkou

[2020-09-02 08:14] BigDada1 commented on #186
The warning can be fixed by extracting the associated values:
`case .blurred(let style, true), .blurred(let style, false):`

[2020-09-09 16:50] yusuftor opened #187 "Crash on BulletinCloseButton"
**Problem Description:**
I'm receiving the following crash from BulletinBoard. It seems that it crashes while "preparing" the bulletinboard on iOS 11 devices. I think this is version 4.1.1 of BulletinBoard.

[code]

[2020-09-09 16:52] yusuftor commented on #187
Closing because I think this has been fixed in the latest update

[2020-09-09 16:52] #187 closed

[2020-09-18 18:28] rodmaz commented on #158
It seems Swift Package support for BulletinBoard is broken on Xcode 12:

`target at '/Users/xxx/Library/Developer/Xcode/DerivedData/MyApp-ezhoowqbocgzhycfoojnfdfrulyf/SourcePackages/checkouts/BulletinBoard/Sources' contains mixed language source files; feature not supported`

[2020-09-19 03:38] JonnyBeeGod commented on #158
If you use the `feature/spm-support` branch it will work, had the same problem yesterday. Seems like it hasn't been merged yet.

[2020-09-24 14:14] yusuftor opened #188 "Crash when dismissing bulletin board"
**Problem Description:**
I was running my iOS app in the simulator and I experienced a crash I think just after the bulletin board was hidden.

**Environment:**
 - Device: iPhone 11
 - OS: iOS 13.2.2 simulator
 - Version of BulletinBoard: 4.1.2

This is the crash report stack:

[code]

and this is the line where it crashed:

[code]

I can see that `showActivityIndicator` is false and `self.current

[2020-09-25 14:38] alexaubry commented on #188
Can you let me know if this is still an issue in the upcoming release? #189

[2020-09-25 14:38] alexaubry commented on #186
Can you let me know if this is still an issue in the upcoming release? #189

[2020-09-25 14:38] alexaubry commented on #182
Can you let me know if this is still an issue in the upcoming release? #189

[2020-09-25 14:41] alexaubry commented on #181
This should be fixed in the upcoming release, could you please confirm it? #189

[2020-09-28 05:51] BigDada1 commented on #186
Fixed in 5.0.0-rc1 👍🏻

[2020-09-28 05:51] #186 closed

[2020-10-07 17:55] simongiesen opened #192 "Swift: Buttons not working"
Hi everybody!

I try to add an action handler and alternative handler. It does not work ... Can anybody help me?

let bulletinManager: BLTNItemManager = {
            let rootItem = BLTNPageItem(title: "Welcome")

            rootItem.descriptionText = "Would you like to add Sample Data to your database?"
            rootItem.actionButtonTitle = "Add"
            rootItem.alternativeButtonTitle =

[2020-10-09 13:08] alexaubry commented on #192
Hi there, what version are you using? Does the issue reproduce with `5.0.0-rc.2`?

[2020-10-11 21:23] trevor-sonic commented on #158
I could only add ```SPM```  with ```develop``` branch.
SPM is supporting assets now. There is no need to use other things like cocaopod or whatever

[2020-10-11 21:31] alexaubry commented on #158
@trevor-sonic Please check out #189 for details

[2020-10-13 04:18] ServusJon commented on #128
hello @alexaubry

[2020-10-13 07:14] simongiesen commented on #192
yes

[2020-10-15 18:37] kambala-decapitator commented on #148
Also facing same issue. I believe the crash actually happens in `assertIsPrepared()` because we've already ensured that all dismiss calls occur on the main thread. And for testing I could reproduce it by executing 2 dismiss calls in a row.

I'm using the following solution:

1. add `system("sed -i '' -e 's/fileprivate var isPrepared/public fileprivate(set) var isPrepared/' Pods/BulletinBoard/Sourc

[2020-10-25 10:32] rashenoy opened #193 "Landscape mode"
My app is designed to work only in landscape mode. If I use BulletinBoard in this mode, in order to ensure that the board  shows all the content (title, description, buttons and image), I need to make the image size extremely small.

Just a thought, is it possible to arrange the view for landscape such that board is arranged in two columns left column for title, description, buttons and the right

[2020-10-31 21:28] alexaubry commented on #128
Unfortunately, I do not have the bandwidth to add this feature. Contributions are most welcome though.

[2020-11-01 00:53] alexaubry commented on #158
This is available in 5.0 now. Thanks for your patience!

[2020-11-01 00:53] #158 closed

[2020-11-01 19:46] alexaubry commented on #193
This sounds like a good idea! However, I don't have the bandwidth to implement this at the moment. Contributuons are most welcome though!

[2020-11-01 19:53] alexaubry commented on #192
I cannot reproduce the issue. If you could provide more details about how you present the bulletin it would be really helpful!

[2020-11-13 00:15] kenzinn commented on #181
I've had a chance to run a few tests with this fix and it seems to have the desired effect: the `showBulletin(above:animated:completion:)` method does now place the blur over the specified viewController's view.

Thank you.

[2020-11-14 19:33] #181 closed

[2020-12-18 10:28] rdunlocked18 commented on #192
issue persist not able to click the buttons handlers ain't working .

[2020-12-19 17:53] alexaubry commented on #192
@rdunlocked18 can you please share:
- if you use the Objective-C or Swift version
- what version of iOS you can reproduce this on
- a code sample that reproduces the issue

Thank you!

[2020-12-19 17:59] alexaubry commented on #185
You should be able to do that by overriding the trait collection on the presenting view controller. I don't think this kind of override belongs to the library.

[2020-12-19 17:59] #185 closed

[2020-12-19 17:59] alexaubry commented on #180
The fixed shipped in 5.0, thanks for your patience.

[2020-12-19 17:59] #180 closed

[2020-12-21 16:33] rdunlocked18 commented on #192
@alexisakers

below is the code snippet i am using for button actions handling in iOS 14 , simulator + tableview on Xcode 12 with latest version of your POD.

` func tableView(_ tableView: UITableView, didSelectRowAt indexPath: IndexPath) {
        let cell = scheduleTableMain.dequeueReusableCell(withIdentifier: "schCell" , for: indexPath) as! ScheduleTableViewCell
        let classes : ScheduleCl

[2020-12-21 16:48] alexaubry commented on #192
@rdunlocked18 Ah okay - so the issue here is that you don’t keep a reference to the bulletin manager. The object gets deallocated when the table view delegate method returns. You need to keep a reference to it, you can look at the example project to see how it’s done.

@simongiesen it’s probably the same issue for you, actually. Can you double check?

[2020-12-21 17:38] rdunlocked18 commented on #192
@alexisakers

i need to trigger BLTN on TableView Click can u hint me out how can i ?.. even if i lazy var it in the class the extension wont let the vars get through the mainClass so what should i do  ? where should i create a reference of BLTNItemManager  to get it onClick of tableView single cell .. i am a bit new in iOS

[2020-12-21 17:54] alexaubry commented on #192
You can have an optional variable on the class that’s presenting it:

[code]

and set it in did tap table view cell after you create it:

[code]

And once you dismiss it, call that in the dismissal handler:

[code]

Again, please look at the example project for help with the dismissal handlers and setting up the project.

[2021-01-10 20:25] JCsplash opened #199 "Add dismissHandler to BLTNItemManager"
Hi @alexisakers thanks for the great library!

Recently, I needed to know when a BLTNItemManager has dismissed and didn't want to implement a dismiss handler and every BLTNItem  so I added a publicly accessible dismissHandler to the BLTNItemManager class. I would make a PR but since it's a small addition, thought Id just comment the code here.

[code]

[code]

I followed the logic in this S/O answ

[2021-01-11 13:13] yusuftor commented on #188
@alexisakers Super late reply but I'm using version 5 now and I just ran into this issue again. However, I think it's a mistake on my part. I had the same function called twice in quick succession in my code by accident which resulted in the bulletin being presented and dismissed really quickly.

 For reference, it crashes on the line `self.bulletinController.contentStackView.alpha = contentAlpha`

[2021-01-11 13:13] #188 closed

[2021-03-11 09:35] ajaxgoogle commented on #86
How can I add gesture to ImageView?

If I try like this nothing happens, however if I call UIImageView extension method inside alternativeHandler it works well.
[code]

[code]

[2021-04-13 21:23] link60 opened #201 "Adjust tableView height when keyboard appears"
Hi!
I created a page containing a searchBar and a tableView.
When the keyboard appears, the page goes up and the top comes out of the screen.
I have tried several things, but I am unable to reduce the size of the tableView so that the search bar stays visible.

Here is my code, simplified, to use and try as is:
[code]
![Simulator Screen Shot - iPod touch (7th generation) - 2021-04-13 at 21 35 20](

[2021-04-13 22:12] link60 commented on #201
I finally found a solution that suits me:

`        page.shouldRespondToKeyboardChanges = false`

and basically :

[code]

[2021-05-31 17:35] kristjan97 opened #202 "SwiftUI life cycle example"
Is there a chance you can post an example using the SwiftUI life cycle?

[2021-06-17 20:42] #202 closed, assigned to nobody

[2021-07-24 08:37] nyto9999 opened #203 "How to add textfield ?"
[code]

[2021-08-09 05:16] CQuerido commented on #203
Hello, I'm looking for exactly the same possibility did you find the solution ?

[2021-08-18 16:15] nyto9999 commented on #203
nope, I give up

[2021-08-18 21:13] eliburke commented on #203
This can be seen in the Example project:
https://github.com/alexisakers/BulletinBoard/blob/develop/Example/CustomBulletins/TextFieldBulletinPage.swift

It is also discussed in a couple of closed issues:
https://github.com/alexisakers/BulletinBoard/issues/32#issuecomment-398862998
https://github.com/alexisakers/BulletinBoard/issues/162

[2021-08-19 14:16] cvcoder1 opened #204 "Documentation & Youtube Video Links Broken."
Links to YouTube video, documentation, etc are all broken.

Sad to see such a great repository with so many stars not be maintained properly /: was really looking forward to using this and I cannot imagine how many people don't want to use after the documentation isn't even properly available/maintained.

[2021-11-02 15:05] sedestrian opened #205 "SwiftUi support"
Hello, could you add support for swiftui?

[2021-12-19 16:28] #203 closed, assigned to nobody

[2022-01-04 22:03] neobeppe opened #206 "Could not find module 'BLTNBoard' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator, at: .../Build/Products/Debug-iphonesimulator/BLTNBoard.swiftmodule"
**Problem Description:**
BLTNBoard not building on simulator with M1 Mac

**Steps to reproduce:**
On M1 Mac try to build project importing BLTNBoard via SPM

**Environment:**
 - Device: Simulator
 - Version of BulletinBoard: 5.0.0

[2022-01-07 07:55] tsangaris commented on #91
Hi,

Is this resolved somehow?

[2022-02-03 19:27] ilkerc commented on #206
Thats not related with this repository. But here is an ultimate guide about that :)

I think you also use CocoaPods and some of your dependencies may exclude arm64 architectures or marks x86_64 as the only valid architecture on simulator.

[code]

you can search your dependencies pod specs with: `pod spec cat AppLovinSDK`

<img width="446" alt="Screen Shot 2022-02-03 at 22 28 44" src="https://user

[2022-03-28 13:17] BigDada1 opened #207 "Wrong title will be used after set alternativeButtonTitle"
There is a bug when changing the `alternativeButtonTitle`: after setting the property the `alternativeButton` always receives the `actionButtonTitle`.

See [BLTNActionItem.swift#L57](https://github.com/alexisakers/BulletinBoard/blob/develop/Sources/Models/BLTNActionItem.swift#L57):

- wrong: `.setTitle(actionButtonTitle, for: .normal)`
- fixed: `.setTitle(alternativeButtonTitle, for: .normal)`

[2022-04-20 22:01] kalisina commented on #91
Hi @tsangaris
Is this library still used in 2022?

[2022-07-06 12:12] kingfive commented on #179
I guss you are finding for this setting:
[code]

[2022-08-22 14:18] CarlosEVC63 commented on #201
Thank you for publishing the problem and the solution.
It has been a very good insight for my project!

[2022-09-30 13:01] InsanelyHarsh commented on #204
I would like to take this issue.